NET "RESET_P" TIG;

NET "OSC_50MHZ" TNM_NET = "OSC_50MHZ";
TIMESPEC TS_OSC_50MHZ = PERIOD "OSC_50MHZ" 20 ns HIGH 50 % INPUT_JITTER 200 ps;

NET "DCOP[1]" TNM_NET = "DCOP1";
TIMESPEC TS_DCO1 = PERIOD "DCOP1" 5552 ps HIGH 50 %;
#TIMESPEC TS_DCO1 = PERIOD "DCOP1" 6000 ps HIGH 50 %;

NET "DCOP[2]" TNM_NET = "DCOP2";
TIMESPEC TS_DCO1 = PERIOD "DCOP1" 5552 ps HIGH 50 %;
#TIMESPEC TS_DCO2 = PERIOD "DCOP2" 6000 ps HIGH 50 %;

NET "DCOP[3]" TNM_NET = "DCOP3";
TIMESPEC TS_DCO1 = PERIOD "DCOP1" 5552 ps HIGH 50 %;
#TIMESPEC TS_DCO3 = PERIOD "DCOP3" 6000 ps HIGH 50 %;

NET "DCOP[4]" TNM_NET = "DCOP4";
TIMESPEC TS_DCO1 = PERIOD "DCOP1" 5552 ps HIGH 50 %;
#TIMESPEC TS_DCO4 = PERIOD "DCOP4" 6000 ps HIGH 50 %;

NET "OSC_50MHZ" IOSTANDARD = LVCMOS33;

NET "TTD_ACK_P" IOSTANDARD = LVDS_33 | LOC = AJ15;                                      
NET "TTD_ACK_N" IOSTANDARD = LVDS_33 | LOC = AK15;
#NET "TTD_RSV_P" IOSTANDARD = LVDS_33 | LOC = AE15;
#NET "TTD_RSV_N" IOSTANDARD = LVDS_33 | LOC = AF15;

NET "TTD_TRG_P" DIFF_TERM = "TRUE";
NET "TTD_TRG_P" IOSTANDARD = LVDS_33 | LOC = AE13;
NET "TTD_TRG_N" DIFF_TERM = "TRUE";
NET "TTD_TRG_N" IOSTANDARD = LVDS_33 | LOC = AF13;

NET "TTD_CLK_P" DIFF_TERM = "TRUE";
NET "TTD_CLK_P" IOSTANDARD = LVDS_33 | LOC = AJ17;
NET "TTD_CLK_N" DIFF_TERM = "TRUE";
NET "TTD_CLK_N" IOSTANDARD = LVDS_33 | LOC = AK17;


# ADC 1
NET "DCOP[1]" LOC = AF16;
NET "DCOP[1]" IOSTANDARD = LVDS_33;
NET "DCON[1]" LOC = AG16;
NET "DCON[1]" IOSTANDARD = LVDS_33;
NET "FCOP[1]" LOC = AE23;
NET "FCOP[1]" IOSTANDARD = LVDS_33;
NET "FCON[1]" LOC = AF23;
NET "FCON[1]" IOSTANDARD = LVDS_33;
NET "SDATAP[1]" LOC = AD22;
NET "SDATAP[1]" IOSTANDARD = LVDS_33;
NET "SDATAN[1]" LOC = AE22;
NET "SDATAN[1]" IOSTANDARD = LVDS_33;
NET "SDATAP[2]" LOC = AE21;
NET "SDATAP[2]" IOSTANDARD = LVDS_33;
NET "SDATAN[2]" LOC = AF21;
NET "SDATAN[2]" IOSTANDARD = LVDS_33;
NET "SDATAP[3]" LOC = AE19;
NET "SDATAP[3]" IOSTANDARD = LVDS_33;
NET "SDATAN[3]" LOC = AF19;
NET "SDATAN[3]" IOSTANDARD = LVDS_33;
NET "SDATAP[4]" LOC = AE17;
NET "SDATAP[4]" IOSTANDARD = LVDS_33;
NET "SDATAN[4]" LOC = AF17;
NET "SDATAN[4]" IOSTANDARD = LVDS_33;
NET "SDATAP[5]" LOC = AE24;
NET "SDATAP[5]" IOSTANDARD = LVDS_33;
NET "SDATAN[5]" LOC = AF24;
NET "SDATAN[5]" IOSTANDARD = LVDS_33;

#fixed
NET "SDATAP[6]" LOC = AE15;
NET "SDATAP[6]" IOSTANDARD = LVDS_33;
#fixed
NET "SDATAN[6]" LOC = AF15;
NET "SDATAN[6]" IOSTANDARD = LVDS_33;

NET "SDATAP[7]" LOC = AF25;
NET "SDATAP[7]" IOSTANDARD = LVDS_33;
NET "SDATAN[7]" LOC = AG25;
NET "SDATAN[7]" IOSTANDARD = LVDS_33;
NET "SDATAP[8]" LOC = AG24;
NET "SDATAP[8]" IOSTANDARD = LVDS_33;
NET "SDATAN[8]" LOC = AH24;
NET "SDATAN[8]" IOSTANDARD = LVDS_33;

# ADC 2
NET "DCOP[2]" LOC = AB28;
NET "DCOP[2]" IOSTANDARD = LVDS_33;
NET "DCON[2]" LOC = AB30;
NET "DCON[2]" IOSTANDARD = LVDS_33;
NET "FCOP[2]" LOC = AE29;
NET "FCOP[2]" IOSTANDARD = LVDS_33;
NET "FCON[2]" LOC = AE30;
NET "FCON[2]" IOSTANDARD = LVDS_33;

NET "SDATAP[9]" LOC = AG29;
NET "SDATAP[9]" IOSTANDARD = LVDS_33;
NET "SDATAN[9]" LOC = AG30;
NET "SDATAN[9]" IOSTANDARD = LVDS_33;
NET "SDATAP[10]" LOC = AH30;
NET "SDATAP[10]" IOSTANDARD = LVDS_33;
NET "SDATAN[10]" LOC = AJ30;
NET "SDATAN[10]" IOSTANDARD = LVDS_33;
NET "SDATAP[11]" LOC = AJ29;
NET "SDATAP[11]" IOSTANDARD = LVDS_33;
NET "SDATAN[11]" LOC = AK29;
NET "SDATAN[11]" IOSTANDARD = LVDS_33;
NET "SDATAP[12]" LOC = AJ28;
NET "SDATAP[12]" IOSTANDARD = LVDS_33;
NET "SDATAN[12]" LOC = AK28;
NET "SDATAN[12]" IOSTANDARD = LVDS_33;
NET "SDATAP[13]" LOC = Y28;
NET "SDATAP[13]" IOSTANDARD = LVDS_33;
NET "SDATAN[13]" LOC = Y30;
NET "SDATAN[13]" IOSTANDARD = LVDS_33;
NET "SDATAP[14]" LOC = AA29;
NET "SDATAP[14]" IOSTANDARD = LVDS_33;
NET "SDATAN[14]" LOC = AA30;
NET "SDATAN[14]" IOSTANDARD = LVDS_33;
NET "SDATAP[15]" LOC = AC29;
NET "SDATAP[15]" IOSTANDARD = LVDS_33;
NET "SDATAN[15]" LOC = AC30;
NET "SDATAN[15]" IOSTANDARD = LVDS_33;
NET "SDATAP[16]" LOC = AD28;
NET "SDATAP[16]" IOSTANDARD = LVDS_33;
NET "SDATAN[16]" LOC = AD30;
NET "SDATAN[16]" IOSTANDARD = LVDS_33;

# ADC 3
NET "DCOP[3]" LOC = V26;
NET "DCOP[3]" IOSTANDARD = LVDS_33;
NET "DCON[3]" LOC = V27;
NET "DCON[3]" IOSTANDARD = LVDS_33;
NET "FCOP[3]" LOC = N29;
NET "FCOP[3]" IOSTANDARD = LVDS_33;
NET "FCON[3]" LOC = N30;
NET "FCON[3]" IOSTANDARD = LVDS_33;

NET "SDATAP[17]" LOC = P28;
NET "SDATAP[17]" IOSTANDARD = LVDS_33;
NET "SDATAN[17]" LOC = P30;
NET "SDATAN[17]" IOSTANDARD = LVDS_33;
NET "SDATAP[18]" LOC = R29;
NET "SDATAP[18]" IOSTANDARD = LVDS_33;
NET "SDATAN[18]" LOC = R30;
NET "SDATAN[18]" IOSTANDARD = LVDS_33;
NET "SDATAP[19]" LOC = T28;
NET "SDATAP[19]" IOSTANDARD = LVDS_33;
NET "SDATAN[19]" LOC = T30;
NET "SDATAN[19]" IOSTANDARD = LVDS_33;
NET "SDATAP[20]" LOC = U29;
NET "SDATAP[20]" IOSTANDARD = LVDS_33;
NET "SDATAN[20]" LOC = U30;
NET "SDATAN[20]" IOSTANDARD = LVDS_33;
NET "SDATAP[21]" LOC = J29;
NET "SDATAP[21]" IOSTANDARD = LVDS_33;
NET "SDATAN[21]" LOC = J30;
NET "SDATAN[21]" IOSTANDARD = LVDS_33;
NET "SDATAP[22]" LOC = K28;
NET "SDATAP[22]" IOSTANDARD = LVDS_33;
NET "SDATAN[22]" LOC = K30;
NET "SDATAN[22]" IOSTANDARD = LVDS_33;
NET "SDATAP[23]" LOC = L29;
NET "SDATAP[23]" IOSTANDARD = LVDS_33;
NET "SDATAN[23]" LOC = L30;
NET "SDATAN[23]" IOSTANDARD = LVDS_33;
NET "SDATAP[24]" LOC = M28;
NET "SDATAP[24]" IOSTANDARD = LVDS_33;
NET "SDATAN[24]" LOC = M30;
NET "SDATAN[24]" IOSTANDARD = LVDS_33;

# ADC 4
NET "DCOP[4]" LOC = W27;
NET "DCOP[4]" IOSTANDARD = LVDS_33;
NET "DCON[4]" LOC = W28;
NET "DCON[4]" IOSTANDARD = LVDS_33;
NET "FCOP[4]" LOC = D28;
NET "FCOP[4]" IOSTANDARD = LVDS_33;
NET "FCON[4]" LOC = D30;
NET "FCON[4]" IOSTANDARD = LVDS_33;
NET "SDATAP[25]" LOC = E29;
NET "SDATAP[25]" IOSTANDARD = LVDS_33;
NET "SDATAN[25]" LOC = E30;
NET "SDATAN[25]" IOSTANDARD = LVDS_33;
NET "SDATAP[26]" LOC = F28;
NET "SDATAP[26]" IOSTANDARD = LVDS_33;
NET "SDATAN[26]" LOC = F30;
NET "SDATAN[26]" IOSTANDARD = LVDS_33;
NET "SDATAP[27]" LOC = G29;
NET "SDATAP[27]" IOSTANDARD = LVDS_33;
NET "SDATAN[27]" LOC = G30;
NET "SDATAN[27]" IOSTANDARD = LVDS_33;
NET "SDATAP[28]" LOC = H28;
NET "SDATAP[28]" IOSTANDARD = LVDS_33;
NET "SDATAN[28]" LOC = H30;
NET "SDATAN[28]" IOSTANDARD = LVDS_33;
NET "SDATAP[29]" LOC = B27;
NET "SDATAP[29]" IOSTANDARD = LVDS_33;
NET "SDATAN[29]" LOC = A27;
NET "SDATAN[29]" IOSTANDARD = LVDS_33;
NET "SDATAP[30]" LOC = A28;
NET "SDATAP[30]" IOSTANDARD = LVDS_33;
NET "SDATAN[30]" LOC = A29;
NET "SDATAN[30]" IOSTANDARD = LVDS_33;
NET "SDATAP[31]" LOC = B29;
NET "SDATAP[31]" IOSTANDARD = LVDS_33;
NET "SDATAN[31]" LOC = B30;
NET "SDATAN[31]" IOSTANDARD = LVDS_33;
NET "SDATAP[32]" LOC = C29;
NET "SDATAP[32]" IOSTANDARD = LVDS_33;
NET "SDATAN[32]" LOC = C30;
NET "SDATAN[32]" IOSTANDARD = LVDS_33;




NET "FADC_SDIR" LOC = U27;
NET "FADC_SDIR" IOSTANDARD = LVCMOS33;
NET "FADC_CSB[1]" LOC = W30;
NET "FADC_CSB[2]" LOC = W29;
NET "FADC_CSB[3]" LOC = V30;
NET "FADC_CSB[4]" LOC = V28;
NET "FADC_SCLK" LOC = R28;
NET "FADC_SDIO" LOC = U28;

NET "TP[3]" LOC = R1;
NET "TP[4]" LOC = T1;
NET "TP[5]" LOC = U1;
NET "TP[6]" LOC = V1;
NET "TP[7]" LOC = W1;
NET "TP[8]" LOC = Y1;


NET "FADC_CSB[1]" IOSTANDARD = LVCMOS33;
NET "FADC_CSB[2]" IOSTANDARD = LVCMOS33;
NET "FADC_CSB[3]" IOSTANDARD = LVCMOS33;
NET "FADC_CSB[4]" IOSTANDARD = LVCMOS33;
NET "FADC_SCLK" IOSTANDARD = LVCMOS33;
NET "FADC_SDIO" IOSTANDARD = LVCMOS33;
#NET "TP[1]" IOSTANDARD = LVCMOS33;
#NET "TP[2]" IOSTANDARD = LVCMOS33;
NET "TP[3]" IOSTANDARD = LVCMOS33;
NET "TP[4]" IOSTANDARD = LVCMOS33;
NET "TP[5]" IOSTANDARD = LVCMOS33;
NET "TP[6]" IOSTANDARD = LVCMOS33;
NET "TP[7]" IOSTANDARD = LVCMOS33;
NET "TP[8]" IOSTANDARD = LVCMOS33;


NET "ETH_MDC" LOC = C24;
NET "ETH_MDINT" LOC = E23;
NET "ETH_MDIO" LOC = J18;
#NET "ETH_MII_TX_CLK" LOC = E16;
NET "ETH_RST_B" LOC = E24;
NET "ETH_RXD[0]" LOC = G17;
NET "ETH_RXD[1]" LOC = K19;
NET "ETH_RXD[2]" LOC = J19;
NET "ETH_RXD[3]" LOC = H17;
NET "ETH_RXD[4]" LOC = F18;
NET "ETH_RXD[5]" LOC = G18;
NET "ETH_RXD[6]" LOC = H18;
NET "ETH_RXD[7]" LOC = E19;
#NET "ETH_RX_CLK" LOC = A15;
NET "ETH_RX_DV" LOC = G19;
NET "ETH_RX_ER" LOC = F19;
NET "ETH_TXD[0]" LOC = H22;
NET "ETH_TXD[1]" LOC = J22;
NET "ETH_TXD[2]" LOC = G21;
NET "ETH_TXD[3]" LOC = H21;
NET "ETH_TXD[4]" LOC = K21;
NET "ETH_TXD[5]" LOC = J20;
NET "ETH_TXD[6]" LOC = G20;
NET "ETH_TXD[7]" LOC = F20;
NET "ETH_TX_CLK" LOC = D25;
NET "ETH_TX_EN" LOC = H19;
NET "ETH_TX_ER" LOC = K20;
NET "IIC_SCL" LOC = L24;
NET "IIC_SDA" LOC = L25;
NET "II_SPI_CS_B" LOC = AK6;
NET "II_SPI_MISO" LOC = AH7;
NET "II_SPI_MOSI" LOC = AK7;
# fixed
NET "II_SPI_SCK" LOC = AJ26;


NET "II_SPI_CS_B" IOSTANDARD = LVCMOS33;
NET "II_SPI_MISO" IOSTANDARD = LVCMOS33;
NET "II_SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "II_SPI_SCK" IOSTANDARD = LVCMOS33;


NET "CLK_MODE" LOC = G9;
NET "CLK_MODE" IOSTANDARD = LVCMOS33;
NET "CLK_MODE" TIG;

NET "CPU_JMP[0]" LOC = F23;
NET "CPU_JMP[1]" LOC = F24;

NET "CPU_LED" LOC = V2;
NET "RESET_P" LOC = D24;
NET "SYS_RST" LOC = E25;

NET "PG[1]" LOC = AA10;
NET "PG[1]" IOSTANDARD = LVCMOS33;
NET "PG[2]" LOC = AA9;
NET "PG[2]" IOSTANDARD = LVCMOS33;
NET "PG[3]" LOC = AD7;
NET "PG[3]" IOSTANDARD = LVCMOS33;
NET "PG[4]" LOC = AE7;
NET "PG[4]" IOSTANDARD = LVCMOS33;
NET "PG[5]" LOC = Y9;
NET "PG[5]" IOSTANDARD = LVCMOS33;


#NET "ADC_CLKN" IOSTANDARD = LVDS_33;
#NET "ADC_CLKP" IOSTANDARD = LVDS_33;
NET "CPU_JMP[0]" IOSTANDARD = LVCMOS33;
NET "CPU_JMP[1]" IOSTANDARD = LVCMOS33;
NET "CPU_LED" IOSTANDARD = LVCMOS33;
NET "RESET_P" IOSTANDARD = LVCMOS33;
NET "SYS_RST" IOSTANDARD = LVCMOS33;
#NET "osc_50mhz" IOSTANDARD = LVCMOS33;



NET "OSC_50MHZ" LOC = AB1;
NET "ETH_RX_CLK" LOC = A16;


NET "DDR3_A[0]" LOC = D4;
NET "DDR3_A[1]" LOC = D3;
NET "DDR3_A[2]" LOC = A3;
NET "DDR3_A[3]" LOC = E5;
NET "DDR3_A[4]" LOC = C5;
NET "DDR3_A[5]" LOC = F2;
NET "DDR3_A[6]" LOC = F1;
NET "DDR3_A[7]" LOC = B3;
NET "DDR3_A[8]" LOC = B2;
NET "DDR3_A[9]" LOC = A2;
NET "DDR3_A[10]" LOC = D5;
NET "DDR3_A[11]" LOC = G4;
NET "DDR3_A[12]" LOC = A4;
NET "DDR3_BA[0]" LOC = D2;
NET "DDR3_BA[1]" LOC = D1;
NET "DDR3_BA[2]" LOC = F3;
NET "DDR3_CAS_B" LOC = B1;
NET "DDR3_CKE" LOC = C4;
NET "DDR3_CLK_N" LOC = E1;
NET "DDR3_CLK_P" LOC = E3;
NET "DDR3_DQ[0]" LOC = H4;
NET "DDR3_DQ[1]" LOC = H3;
NET "DDR3_DQ[2]" LOC = J3;
NET "DDR3_DQ[3]" LOC = J1;
NET "DDR3_DQ[4]" LOC = G3;
NET "DDR3_DQ[5]" LOC = G1;
NET "DDR3_DQ[6]" LOC = H2;
NET "DDR3_DQ[7]" LOC = H1;
NET "DDR3_DQ[8]" LOC = M4;
NET "DDR3_DQ[9]" LOC = M3;
NET "DDR3_DQ[10]" LOC = L5;
NET "DDR3_DQ[11]" LOC = L4;
NET "DDR3_DQ[12]" LOC = L3;
NET "DDR3_DQ[13]" LOC = L1;
NET "DDR3_DQ[14]" LOC = M2;
NET "DDR3_DQ[15]" LOC = M1;
NET "DDR3_LDM" LOC = K3;
NET "DDR3_LDQS_N" LOC = J4;
NET "DDR3_LDQS_P" LOC = J5;
NET "DDR3_ODT" LOC = E4;
NET "DDR3_RAS_B" LOC = C1;
NET "DDR3_RST_B" LOC = G5;
NET "DDR3_RZQ" LOC = L7;
NET "DDR3_UDM" LOC = K4;
NET "DDR3_UDQS_N" LOC = K1;
NET "DDR3_UDQS_P" LOC = K2;
NET "DDR3_WE_B" LOC = F4;
NET "DDR3_ZIO" LOC = J6;

#INST "system_i/Soft_TEMAC/Soft_TEMAC/SOFT_SYS.I_TEMAC/GMII0.I_CLOCK_INST_0/V6V5V4S6.BUFGMUX_SPEED_CLK" LOC = BUFGMUX_X3Y7;
#INST "system_i/Soft_TEMAC/Soft_TEMAC/SOFT_SYS.I_TEMAC/GMII0.I_GMII_INTERFACE_0/S60.bufio_gmii_rx_clk" LOC = BUFIO2_X4Y27; # from collector


# copy/paste from eclcollector
NET "ETH_MII_TX_CLK" TNM_NET = "ETH_MII_TX_CLK";
TIMESPEC TS_ETH_MII_TX_CLK = PERIOD 7.83 ns;

NET "ETH_RX_CLK" TNM_NET = "ETH_RX_CLK";
TIMESPEC TS_ETH_RX_CLK = PERIOD 7.84 ns;



NET "ETH_MII_TX_CLK" IOSTANDARD = LVCMOS25;

NET "s_reset" TIG;
NET "s_htest_mode" TIG;
NET "s_lomtest_mode" TIG;
NET "s_hclear_ctrl" TIG;
NET "s_cclear_ctrl" TIG;
NET "s_adc_lom_mask*" TIG;
NET "s_sum_thresholds*" TIG;
NET "s_adc_thresholds*" TIG;
NET "s_adc_qthresholds*" TIG;
NET "s_nevt*" TIG;
NET "s_reg_data*" TIG;   #remove latter
NET "s_reg_set_values*" TIG;   #remove latter



NET "ETH_MII_TX_CLK" LOC = D16;


#
#NET "map_b2tt/map_encode/map_od/outn" LOC = AK15;
#NET "map_b2tt/map_encode/map_od/outp" LOC = AJ15;
#NET "map_b2tt/map_clk/clkn" LOC = AK17;
#NET "map_b2tt/map_clk/clkp" LOC = AJ17;
#NET "TTD_RSV_N" LOC = AF15;
#NET "TTD_RSV_P" LOC = AE15;
#NET "map_b2tt/map_decode/map_is/inn" LOC = AF13;
#NET "map_b2tt/map_decode/map_is/inp" LOC = AE13;

NET "VETO" LOC = AD1;


NET "ADC_CLKP[1]" LOC = AD20;
NET "ADC_CLKP[1]" IOSTANDARD = LVDS_33;
NET "ADC_CLKN[1]" LOC = AE20;
NET "ADC_CLKN[1]" IOSTANDARD = LVDS_33;

NET "ADC_CLKP[2]" LOC = AB21;
NET "ADC_CLKP[2]" IOSTANDARD = LVDS_33;
NET "ADC_CLKN[2]" LOC = AC21;
NET "ADC_CLKN[2]" IOSTANDARD = LVDS_33;

NET "ADC_CLKP[3]" LOC = AA22;
NET "ADC_CLKP[3]" IOSTANDARD = LVDS_33;
NET "ADC_CLKN[3]" LOC = AC22;
NET "ADC_CLKN[3]" IOSTANDARD = LVDS_33;

NET "ADC_CLKP[4]" LOC = AC24;
NET "ADC_CLKP[4]" IOSTANDARD = LVDS_33;
NET "ADC_CLKN[4]" LOC = AD24;
NET "ADC_CLKN[4]" IOSTANDARD = LVDS_33;


NET "VETO" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

#INST "system_i/Soft_TEMAC" AREA_GROUP = "pblock_system_i_Soft_TEMAC";
#INST "system_i/MCB_DDR3" AREA_GROUP = "pblock_system_i_MCB_DDR3";
#INST "system_i/microblaze_0" AREA_GROUP = "pblock_systm_i_mcrblz_0";
#INST "system_i/mb_eth_ifc_0" AREA_GROUP = "pblock_systm_i_mb_eth_ifc_0";
#INST "system_i/xps_iic_0" AREA_GROUP = "pblock_system_i_xps_iic_0";
#INST "system_i/xps_timer_0" AREA_GROUP = "pblock_system_i_xps_timer_0";
#INST "system_i/mb_plb" AREA_GROUP = "pblock_system_i_mb_plb";
#INST "system_i/Generic_SPI" AREA_GROUP = "pblock_system_i_Generic_SPI";
#INST "system_i/FADC_SPI" AREA_GROUP = "pblock_system_i_FADC_SPI";
#INST "system_i/LEDS" AREA_GROUP = "pblock_system_i_LEDS";
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1_F" BEL = D6LUT;
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1_G" BEL = C6LUT;
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1" BEL = F7BMUX;
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1_F" LOC = SLICE_X100Y30;
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1_G" LOC = SLICE_X100Y30;
#INST "system_i/FADC_SPI/FADC_SPI/I_SPI_MODULE/Mmux_Loading_SR_Reg_int1" LOC = SLICE_X100Y30;



