//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 02 18:25:32 2018
//! **************************************************************************

SCHEMATIC START;
COMP "ADCInDataLVDS<10>" LOCATE = SITE "AC25" LEVEL 1;
COMP "ADCInDataLVDS<11>" LOCATE = SITE "AD27" LEVEL 1;
COMP "ADCInDataLVDS<12>" LOCATE = SITE "AD30" LEVEL 1;
COMP "ADCInDataLVDS<13>" LOCATE = SITE "AE29" LEVEL 1;
COMP "ADCInDataLVDS<14>" LOCATE = SITE "AE32" LEVEL 1;
COMP "ADCInDataLVDS<15>" LOCATE = SITE "AE33" LEVEL 1;
COMP "Col" LOCATE = SITE "B11" LEVEL 1;
COMP "Crs" LOCATE = SITE "A11" LEVEL 1;
COMP "ADC_SDIO" LOCATE = SITE "F16" LEVEL 1;
COMP "Led1" LOCATE = SITE "C19" LEVEL 1;
COMP "Led2" LOCATE = SITE "C17" LEVEL 1;
COMP "Led3" LOCATE = SITE "C18" LEVEL 1;
COMP "Led4" LOCATE = SITE "E18" LEVEL 1;
COMP "Led5" LOCATE = SITE "E17" LEVEL 1;
COMP "RxDv" LOCATE = SITE "C8" LEVEL 1;
COMP "TxEn" LOCATE = SITE "A9" LEVEL 1;
COMP "MuxClock_in" LOCATE = SITE "D16" LEVEL 1;
COMP "Test<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "Test<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "Test<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "Test<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "Test<4>" LOCATE = SITE "D5" LEVEL 1;
COMP "Test<5>" LOCATE = SITE "C5" LEVEL 1;
COMP "Test<6>" LOCATE = SITE "B5" LEVEL 1;
COMP "Test<7>" LOCATE = SITE "A5" LEVEL 1;
COMP "Test<8>" LOCATE = SITE "B6" LEVEL 1;
COMP "Test<9>" LOCATE = SITE "A6" LEVEL 1;
COMP "ADCInDataLVDS_n<0>" LOCATE = SITE "Y24" LEVEL 1;
COMP "ADCInDataLVDS_n<1>" LOCATE = SITE "Y26" LEVEL 1;
COMP "ADCInDataLVDS_n<2>" LOCATE = SITE "AA24" LEVEL 1;
COMP "ADCInDataLVDS_n<3>" LOCATE = SITE "AB23" LEVEL 1;
COMP "ADCInDataLVDS_n<4>" LOCATE = SITE "AB26" LEVEL 1;
COMP "ADCInDataLVDS_n<5>" LOCATE = SITE "AA29" LEVEL 1;
COMP "ADCInDataLVDS_n<6>" LOCATE = SITE "AA30" LEVEL 1;
COMP "ADCInDataLVDS_n<7>" LOCATE = SITE "AB28" LEVEL 1;
COMP "ADCInDataLVDS_n<8>" LOCATE = SITE "AC30" LEVEL 1;
COMP "ADCInDataLVDS_n<9>" LOCATE = SITE "AC33" LEVEL 1;
COMP "TrigDes" LOCATE = SITE "A13" LEVEL 1;
COMP "RxClk" LOCATE = SITE "B8" LEVEL 1;
COMP "TxClk" LOCATE = SITE "A8" LEVEL 1;
COMP "ExtReset" LOCATE = SITE "AP4" LEVEL 1;
COMP "ADC_DCO_LVDS_n<0>" LOCATE = SITE "AA26" LEVEL 1;
COMP "ADC_DCO_LVDS_n<1>" LOCATE = SITE "AC34" LEVEL 1;
COMP "ADC_DCO_LVDS_n<2>" LOCATE = SITE "AF30" LEVEL 1;
COMP "ADC_DCO_LVDS_n<3>" LOCATE = SITE "AG28" LEVEL 1;
COMP "ADCInDataLVDS_n<10>" LOCATE = SITE "AD26" LEVEL 1;
COMP "ADCInDataLVDS_n<11>" LOCATE = SITE "AC27" LEVEL 1;
COMP "ADCInDataLVDS_n<12>" LOCATE = SITE "AD31" LEVEL 1;
COMP "ADCInDataLVDS_n<13>" LOCATE = SITE "AD29" LEVEL 1;
COMP "ADCInDataLVDS_n<14>" LOCATE = SITE "AD32" LEVEL 1;
COMP "ADCInDataLVDS_n<15>" LOCATE = SITE "AE34" LEVEL 1;
COMP "ADCInDataLVDS<0>" LOCATE = SITE "W24" LEVEL 1;
COMP "ADCInDataLVDS<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "ADCInDataLVDS<2>" LOCATE = SITE "AA23" LEVEL 1;
COMP "ADCInDataLVDS<3>" LOCATE = SITE "AB22" LEVEL 1;
COMP "ADCInDataLVDS<4>" LOCATE = SITE "AB25" LEVEL 1;
COMP "ADCInDataLVDS<5>" LOCATE = SITE "AA28" LEVEL 1;
COMP "ADCInDataLVDS<6>" LOCATE = SITE "AB30" LEVEL 1;
COMP "ADCInDataLVDS<7>" LOCATE = SITE "AC28" LEVEL 1;
COMP "ADCInDataLVDS<8>" LOCATE = SITE "AC29" LEVEL 1;
COMP "ADCInDataLVDS<9>" LOCATE = SITE "AC32" LEVEL 1;
COMP "RxD<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "RxD<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "RxD<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "RxD<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "ADC_DCO_LVDS<0>" LOCATE = SITE "AA25" LEVEL 1;
PIN ADC_DCO_LVDS<0>_pin<0> = BEL "ADC_DCO_LVDS<0>" PINNAME PAD;
PIN "ADC_DCO_LVDS<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ADC_DCO_LVDS<1>" LOCATE = SITE "AD34" LEVEL 1;
PIN ADC_DCO_LVDS<1>_pin<0> = BEL "ADC_DCO_LVDS<1>" PINNAME PAD;
PIN "ADC_DCO_LVDS<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ADC_DCO_LVDS<2>" LOCATE = SITE "AF29" LEVEL 1;
PIN ADC_DCO_LVDS<2>_pin<0> = BEL "ADC_DCO_LVDS<2>" PINNAME PAD;
PIN "ADC_DCO_LVDS<2>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ADC_DCO_LVDS<3>" LOCATE = SITE "AG27" LEVEL 1;
PIN ADC_DCO_LVDS<3>_pin<0> = BEL "ADC_DCO_LVDS<3>" PINNAME PAD;
PIN "ADC_DCO_LVDS<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "TxD<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "TxD<1>" LOCATE = SITE "C10" LEVEL 1;
COMP "TxD<2>" LOCATE = SITE "B10" LEVEL 1;
COMP "TxD<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "Qclock" LOCATE = SITE "H17" LEVEL 1;
COMP "TriggerData<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "TriggerData<11>" LOCATE = SITE "E1" LEVEL 1;
COMP "TriggerData<20>" LOCATE = SITE "H2" LEVEL 1;
COMP "TriggerData<12>" LOCATE = SITE "J2" LEVEL 1;
COMP "TriggerData<21>" LOCATE = SITE "G1" LEVEL 1;
COMP "TriggerData<13>" LOCATE = SITE "J1" LEVEL 1;
COMP "TriggerData<30>" LOCATE = SITE "G2" LEVEL 1;
COMP "TriggerData<22>" LOCATE = SITE "M2" LEVEL 1;
COMP "TriggerData<14>" LOCATE = SITE "L3" LEVEL 1;
COMP "TriggerData<31>" LOCATE = SITE "J4" LEVEL 1;
COMP "TriggerData<23>" LOCATE = SITE "AE3" LEVEL 1;
COMP "TriggerData<15>" LOCATE = SITE "K2" LEVEL 1;
COMP "TriggerData<40>" LOCATE = SITE "AK2" LEVEL 1;
COMP "TriggerData<32>" LOCATE = SITE "C4" LEVEL 1;
COMP "TriggerData<24>" LOCATE = SITE "K1" LEVEL 1;
COMP "TriggerData<16>" LOCATE = SITE "G3" LEVEL 1;
COMP "TriggerData<41>" LOCATE = SITE "AK3" LEVEL 1;
COMP "TriggerData<33>" LOCATE = SITE "D1" LEVEL 1;
COMP "TriggerData<25>" LOCATE = SITE "AD1" LEVEL 1;
COMP "TriggerData<17>" LOCATE = SITE "E4" LEVEL 1;
COMP "TriggerData<50>" LOCATE = SITE "AE4" LEVEL 1;
COMP "TriggerData<42>" LOCATE = SITE "AH2" LEVEL 1;
COMP "TriggerData<34>" LOCATE = SITE "D2" LEVEL 1;
COMP "TriggerData<26>" LOCATE = SITE "F3" LEVEL 1;
COMP "TriggerData<18>" LOCATE = SITE "F1" LEVEL 1;
COMP "TriggerData<51>" LOCATE = SITE "AF3" LEVEL 1;
COMP "TriggerData<43>" LOCATE = SITE "AF1" LEVEL 1;
COMP "TriggerData<35>" LOCATE = SITE "D4" LEVEL 1;
COMP "TriggerData<27>" LOCATE = SITE "E3" LEVEL 1;
COMP "TriggerData<19>" LOCATE = SITE "E2" LEVEL 1;
COMP "TriggerData<60>" LOCATE = SITE "AJ2" LEVEL 1;
COMP "TriggerData<52>" LOCATE = SITE "AL3" LEVEL 1;
COMP "TriggerData<44>" LOCATE = SITE "AC2" LEVEL 1;
COMP "TriggerData<36>" LOCATE = SITE "AJ4" LEVEL 1;
COMP "TriggerData<28>" LOCATE = SITE "H3" LEVEL 1;
COMP "TriggerData<61>" LOCATE = SITE "AF4" LEVEL 1;
COMP "TriggerData<53>" LOCATE = SITE "AM1" LEVEL 1;
COMP "TriggerData<45>" LOCATE = SITE "AJ1" LEVEL 1;
COMP "TriggerData<37>" LOCATE = SITE "AG2" LEVEL 1;
COMP "TriggerData<29>" LOCATE = SITE "H4" LEVEL 1;
COMP "TriggerData<62>" LOCATE = SITE "AM2" LEVEL 1;
COMP "TriggerData<54>" LOCATE = SITE "AH3" LEVEL 1;
COMP "TriggerData<46>" LOCATE = SITE "M1" LEVEL 1;
COMP "TriggerData<38>" LOCATE = SITE "AG1" LEVEL 1;
COMP "TriggerData<63>" LOCATE = SITE "AG3" LEVEL 1;
COMP "TriggerData<55>" LOCATE = SITE "AL4" LEVEL 1;
COMP "TriggerData<47>" LOCATE = SITE "AK1" LEVEL 1;
COMP "TriggerData<39>" LOCATE = SITE "AE1" LEVEL 1;
COMP "TriggerData<56>" LOCATE = SITE "AH4" LEVEL 1;
COMP "TriggerData<48>" LOCATE = SITE "AM3" LEVEL 1;
COMP "TriggerData<57>" LOCATE = SITE "AL1" LEVEL 1;
COMP "TriggerData<49>" LOCATE = SITE "AD2" LEVEL 1;
COMP "TriggerData<58>" LOCATE = SITE "AK4" LEVEL 1;
COMP "TriggerData<59>" LOCATE = SITE "AE2" LEVEL 1;
COMP "Sw_FCTClk" LOCATE = SITE "D17" LEVEL 1;
COMP "ADC_SCLK" LOCATE = SITE "G16" LEVEL 1;
COMP "FastTrigDes" LOCATE = SITE "B13" LEVEL 1;
COMP "TriggerData<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "TriggerData<1>" LOCATE = SITE "AD4" LEVEL 1;
COMP "TriggerData<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "TriggerData<3>" LOCATE = SITE "K4" LEVEL 1;
COMP "TriggerData<4>" LOCATE = SITE "L4" LEVEL 1;
COMP "TriggerData<5>" LOCATE = SITE "M3" LEVEL 1;
COMP "TriggerData<6>" LOCATE = SITE "AC3" LEVEL 1;
COMP "TriggerData<7>" LOCATE = SITE "AC4" LEVEL 1;
COMP "TriggerData<8>" LOCATE = SITE "C2" LEVEL 1;
COMP "TriggerData<9>" LOCATE = SITE "C3" LEVEL 1;
COMP "Sw_Quartz" LOCATE = SITE "J17" LEVEL 1;
COMP "ADC_CLK" LOCATE = SITE "G17" LEVEL 1;
COMP "ADC_CSB" LOCATE = SITE "E16" LEVEL 1;
TIMEGRP DLL_CLKDV_BUF = BEL "ADCtest_reg_sset" BEL "ADCtest_Bit_write" BEL
        "ADCtest_CSB_trig" BEL "ADC_SDIO" BEL "ADCTest/count_0" BEL
        "ADCTest/count_1" BEL "ADCTest/count_2" BEL "ADCTest/count_3" BEL
        "ADCTest/count_4" BEL "ADCTest/count_5" BEL "DLL/CLKDV_BUFG_INST" BEL
        "ShiftReg_test/tmp_49" BEL "ShiftReg_test/tmp_48" BEL
        "ShiftReg_test/tmp_47" BEL "ShiftReg_test/tmp_46" BEL
        "ShiftReg_test/tmp_45" BEL "ShiftReg_test/tmp_44" BEL
        "ShiftReg_test/tmp_43" BEL "ShiftReg_test/tmp_42" BEL
        "ShiftReg_test/tmp_41" BEL "ShiftReg_test/tmp_40" BEL
        "ShiftReg_test/tmp_39" BEL "ShiftReg_test/tmp_38" BEL
        "ShiftReg_test/tmp_37" BEL "ShiftReg_test/tmp_36" BEL
        "ShiftReg_test/tmp_35" BEL "ShiftReg_test/tmp_34" BEL
        "ShiftReg_test/tmp_33" BEL "ShiftReg_test/tmp_32" BEL
        "ShiftReg_test/tmp_31" BEL "ShiftReg_test/tmp_30" BEL
        "ShiftReg_test/tmp_29" BEL "ShiftReg_test/tmp_28" BEL
        "ShiftReg_test/tmp_27" BEL "ShiftReg_test/tmp_26" BEL
        "ShiftReg_test/tmp_25" BEL "ShiftReg_test/tmp_24" BEL
        "ShiftReg_test/tmp_23" BEL "ShiftReg_test/tmp_22" BEL
        "ShiftReg_test/tmp_21" BEL "ShiftReg_test/tmp_20" BEL
        "ShiftReg_test/tmp_19" BEL "ShiftReg_test/tmp_18" BEL
        "ShiftReg_test/tmp_17" BEL "ShiftReg_test/tmp_16" BEL
        "ShiftReg_test/tmp_15" BEL "ShiftReg_test/tmp_14" BEL
        "ShiftReg_test/tmp_13" BEL "ShiftReg_test/tmp_12" BEL
        "ShiftReg_test/tmp_11" BEL "ShiftReg_test/tmp_10" BEL
        "ShiftReg_test/tmp_9" BEL "ShiftReg_test/tmp_8" BEL
        "ShiftReg_test/tmp_7" BEL "ShiftReg_test/tmp_6" BEL
        "ShiftReg_test/tmp_5" BEL "ShiftReg_test/tmp_4" BEL
        "ShiftReg_test/tmp_3" BEL "ShiftReg_test/tmp_2" BEL
        "ShiftReg_test/tmp_1" BEL "ShiftReg_test/tmp_0" BEL "ADC_SCLK";
TIMEGRP DLL_CLK0_BUF = BEL "PowerUp0" BEL "DLL/CLK0_BUFG_INST" BEL
        "PowerUp2/Trig" BEL "PowerUp1/Trig";
TIMEGRP DLL_CLK2X_BUF = BEL "Led_B/ES1/Trig0" BEL "Led_B/ES1/Trig1" BEL
        "DLL/CLK2X_BUFG_INST" BEL "Led_B/DurTrig_SRFF/Trig" BEL "ADC_CLK" BEL
        "Test<9>";
TIMEGRP Qclock = BEL "CntTest/count_0" BEL "CntTest/count_1" BEL
        "CntTest/count_2" BEL "CntTest/count_3" BEL "CntTest/count_4" BEL
        "CntTest/count_5" BEL "CntTest/count_6" BEL "CntTest/count_7" BEL
        "CntTest/count_8" BEL "CntTest/count_9" BEL "CntTest/count_10" BEL
        "CntTest/count_11" BEL "CntTest/count_12" BEL "CntTest/count_13" BEL
        "CntTest/count_14" BEL "CntTest/count_15" BEL "CntTest/count_16" BEL
        "CntTest/count_17" BEL "CntTest/count_18" BEL "CntTest/count_19" BEL
        "CntTest/count_20" BEL "CntTest/count_21" BEL "CntTest/count_22" BEL
        "CntTest/count_23" BEL "CntTest/count_24" BEL "CntTest/count_25" BEL
        "PhaseSwitch/TimingCnt/count_15" BEL "PhaseSwitch/TimingCnt/count_14"
        BEL "PhaseSwitch/TimingCnt/count_13" BEL
        "PhaseSwitch/TimingCnt/count_12" BEL "PhaseSwitch/TimingCnt/count_11"
        BEL "PhaseSwitch/TimingCnt/count_10" BEL
        "PhaseSwitch/TimingCnt/count_9" BEL "PhaseSwitch/TimingCnt/count_8"
        BEL "PhaseSwitch/TimingCnt/count_7" BEL
        "PhaseSwitch/TimingCnt/count_6" BEL "PhaseSwitch/TimingCnt/count_5"
        BEL "PhaseSwitch/TimingCnt/count_4" BEL
        "PhaseSwitch/TimingCnt/count_3" BEL "PhaseSwitch/TimingCnt/count_2"
        BEL "PhaseSwitch/TimingCnt/count_1" BEL
        "PhaseSwitch/TimingCnt/count_0" BEL "PhaseSwitch/Sync_TRG1" BEL
        "Quarts_BUFG";
PIN DLL/DCM_ADV_INST_pins<5> = BEL "DLL/DCM_ADV_INST" PINNAME CLKIN;
TIMEGRP MuxClock_in = PIN "DLL/DCM_ADV_INST_pins<5>";
TIMEGRP DLL_CLKFX_BUF = BEL "DLL/CLKFX_BUFG_INST" BEL
        "FindMaxAmp_i/Amp_i[0].Amp/Trig" BEL "FindMaxAmp_i/Inhibit_srff/Trig"
        BEL "FindMaxAmp_i/AllReset_SRFF/Trig" BEL
        "FindMaxAmp_i/MaxCellNumber_3" BEL "FindMaxAmp_i/Aver2_9_7" BEL
        "FindMaxAmp_i/Aver2_9_6" BEL "FindMaxAmp_i/Aver2_9_5" BEL
        "FindMaxAmp_i/Aver2_9_4" BEL "FindMaxAmp_i/Aver2_9_3" BEL
        "FindMaxAmp_i/Aver2_9_2" BEL "FindMaxAmp_i/Aver2_9_1" BEL
        "FindMaxAmp_i/Aver2_9_0" BEL "FindMaxAmp_i/Aver2_8_7" BEL
        "FindMaxAmp_i/Aver2_8_6" BEL "FindMaxAmp_i/Aver2_8_5" BEL
        "FindMaxAmp_i/Aver2_8_4" BEL "FindMaxAmp_i/Aver2_8_3" BEL
        "FindMaxAmp_i/Aver2_8_2" BEL "FindMaxAmp_i/Aver2_8_1" BEL
        "FindMaxAmp_i/Aver2_8_0" BEL "FindMaxAmp_i/Aver2_7_7" BEL
        "FindMaxAmp_i/Aver2_7_6" BEL "FindMaxAmp_i/Aver2_7_5" BEL
        "FindMaxAmp_i/Aver2_7_4" BEL "FindMaxAmp_i/Aver2_7_3" BEL
        "FindMaxAmp_i/Aver2_7_2" BEL "FindMaxAmp_i/Aver2_7_1" BEL
        "FindMaxAmp_i/Aver2_7_0" BEL "FindMaxAmp_i/Aver2_6_7" BEL
        "FindMaxAmp_i/Aver2_6_6" BEL "FindMaxAmp_i/Aver2_6_5" BEL
        "FindMaxAmp_i/Aver2_6_4" BEL "FindMaxAmp_i/Aver2_6_3" BEL
        "FindMaxAmp_i/Aver2_6_2" BEL "FindMaxAmp_i/Aver2_6_1" BEL
        "FindMaxAmp_i/Aver2_6_0" BEL "FindMaxAmp_i/Aver2_4_7" BEL
        "FindMaxAmp_i/Aver2_4_6" BEL "FindMaxAmp_i/Aver2_4_5" BEL
        "FindMaxAmp_i/Aver2_4_4" BEL "FindMaxAmp_i/Aver2_4_3" BEL
        "FindMaxAmp_i/Aver2_4_2" BEL "FindMaxAmp_i/Aver2_4_1" BEL
        "FindMaxAmp_i/Aver2_4_0" BEL "FindMaxAmp_i/Aver2_3_7" BEL
        "FindMaxAmp_i/Aver2_3_6" BEL "FindMaxAmp_i/Aver2_3_5" BEL
        "FindMaxAmp_i/Aver2_3_4" BEL "FindMaxAmp_i/Aver2_3_3" BEL
        "FindMaxAmp_i/Aver2_3_2" BEL "FindMaxAmp_i/Aver2_3_1" BEL
        "FindMaxAmp_i/Aver2_3_0" BEL "FindMaxAmp_i/Aver2_5_7" BEL
        "FindMaxAmp_i/Aver2_5_6" BEL "FindMaxAmp_i/Aver2_5_5" BEL
        "FindMaxAmp_i/Aver2_5_4" BEL "FindMaxAmp_i/Aver2_5_3" BEL
        "FindMaxAmp_i/Aver2_5_2" BEL "FindMaxAmp_i/Aver2_5_1" BEL
        "FindMaxAmp_i/Aver2_5_0" BEL "FindMaxAmp_i/Aver2_2_7" BEL
        "FindMaxAmp_i/Aver2_2_6" BEL "FindMaxAmp_i/Aver2_2_5" BEL
        "FindMaxAmp_i/Aver2_2_4" BEL "FindMaxAmp_i/Aver2_2_3" BEL
        "FindMaxAmp_i/Aver2_2_2" BEL "FindMaxAmp_i/Aver2_2_1" BEL
        "FindMaxAmp_i/Aver2_2_0" BEL "FindMaxAmp_i/Aver2_1_7" BEL
        "FindMaxAmp_i/Aver2_1_6" BEL "FindMaxAmp_i/Aver2_1_5" BEL
        "FindMaxAmp_i/Aver2_1_4" BEL "FindMaxAmp_i/Aver2_1_3" BEL
        "FindMaxAmp_i/Aver2_1_2" BEL "FindMaxAmp_i/Aver2_1_1" BEL
        "FindMaxAmp_i/Aver2_1_0" BEL "FindMaxAmp_i/Aver2_0_7" BEL
        "FindMaxAmp_i/Aver2_0_6" BEL "FindMaxAmp_i/Aver2_0_5" BEL
        "FindMaxAmp_i/Aver2_0_4" BEL "FindMaxAmp_i/Aver2_0_3" BEL
        "FindMaxAmp_i/Aver2_0_2" BEL "FindMaxAmp_i/Aver2_0_1" BEL
        "FindMaxAmp_i/Aver2_0_0" BEL "FindMaxAmp_i/Aver2_15_7" BEL
        "FindMaxAmp_i/Aver2_15_6" BEL "FindMaxAmp_i/Aver2_15_5" BEL
        "FindMaxAmp_i/Aver2_15_4" BEL "FindMaxAmp_i/Aver2_15_3" BEL
        "FindMaxAmp_i/Aver2_15_2" BEL "FindMaxAmp_i/Aver2_15_1" BEL
        "FindMaxAmp_i/Aver2_15_0" BEL "FindMaxAmp_i/Aver2_14_7" BEL
        "FindMaxAmp_i/Aver2_14_6" BEL "FindMaxAmp_i/Aver2_14_5" BEL
        "FindMaxAmp_i/Aver2_14_4" BEL "FindMaxAmp_i/Aver2_14_3" BEL
        "FindMaxAmp_i/Aver2_14_2" BEL "FindMaxAmp_i/Aver2_14_1" BEL
        "FindMaxAmp_i/Aver2_14_0" BEL "FindMaxAmp_i/Aver2_13_7" BEL
        "FindMaxAmp_i/Aver2_13_6" BEL "FindMaxAmp_i/Aver2_13_5" BEL
        "FindMaxAmp_i/Aver2_13_4" BEL "FindMaxAmp_i/Aver2_13_3" BEL
        "FindMaxAmp_i/Aver2_13_2" BEL "FindMaxAmp_i/Aver2_13_1" BEL
        "FindMaxAmp_i/Aver2_13_0" BEL "FindMaxAmp_i/Aver2_11_7" BEL
        "FindMaxAmp_i/Aver2_11_6" BEL "FindMaxAmp_i/Aver2_11_5" BEL
        "FindMaxAmp_i/Aver2_11_4" BEL "FindMaxAmp_i/Aver2_11_3" BEL
        "FindMaxAmp_i/Aver2_11_2" BEL "FindMaxAmp_i/Aver2_11_1" BEL
        "FindMaxAmp_i/Aver2_11_0" BEL "FindMaxAmp_i/Aver2_10_7" BEL
        "FindMaxAmp_i/Aver2_10_6" BEL "FindMaxAmp_i/Aver2_10_5" BEL
        "FindMaxAmp_i/Aver2_10_4" BEL "FindMaxAmp_i/Aver2_10_3" BEL
        "FindMaxAmp_i/Aver2_10_2" BEL "FindMaxAmp_i/Aver2_10_1" BEL
        "FindMaxAmp_i/Aver2_10_0" BEL "FindMaxAmp_i/Aver2_12_7" BEL
        "FindMaxAmp_i/Aver2_12_6" BEL "FindMaxAmp_i/Aver2_12_5" BEL
        "FindMaxAmp_i/Aver2_12_4" BEL "FindMaxAmp_i/Aver2_12_3" BEL
        "FindMaxAmp_i/Aver2_12_2" BEL "FindMaxAmp_i/Aver2_12_1" BEL
        "FindMaxAmp_i/Aver2_12_0" BEL "FindMaxAmp_i/Sub_ped_delay_0_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_0_6" BEL "FindMaxAmp_i/Sub_ped_delay_0_5"
        BEL "FindMaxAmp_i/Sub_ped_delay_0_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_0_3" BEL "FindMaxAmp_i/Sub_ped_delay_0_2"
        BEL "FindMaxAmp_i/Sub_ped_delay_0_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_0_0" BEL "FindMaxAmp_i/Sub_ped_delay_14_7"
        BEL "FindMaxAmp_i/Sub_ped_delay_14_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_14_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_13_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_15_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_11_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_10_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_12_0" BEL "FindMaxAmp_i/Sub_ped_delay_8_7"
        BEL "FindMaxAmp_i/Sub_ped_delay_8_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_8_5" BEL "FindMaxAmp_i/Sub_ped_delay_8_4"
        BEL "FindMaxAmp_i/Sub_ped_delay_8_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_8_2" BEL "FindMaxAmp_i/Sub_ped_delay_8_1"
        BEL "FindMaxAmp_i/Sub_ped_delay_8_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_9_7" BEL "FindMaxAmp_i/Sub_ped_delay_9_6"
        BEL "FindMaxAmp_i/Sub_ped_delay_9_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_9_4" BEL "FindMaxAmp_i/Sub_ped_delay_9_3"
        BEL "FindMaxAmp_i/Sub_ped_delay_9_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_9_1" BEL "FindMaxAmp_i/Sub_ped_delay_9_0"
        BEL "FindMaxAmp_i/Sub_ped_delay_6_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_6_6" BEL "FindMaxAmp_i/Sub_ped_delay_6_5"
        BEL "FindMaxAmp_i/Sub_ped_delay_6_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_6_3" BEL "FindMaxAmp_i/Sub_ped_delay_6_2"
        BEL "FindMaxAmp_i/Sub_ped_delay_6_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_6_0" BEL "FindMaxAmp_i/Sub_ped_delay_5_7"
        BEL "FindMaxAmp_i/Sub_ped_delay_5_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_5_5" BEL "FindMaxAmp_i/Sub_ped_delay_5_4"
        BEL "FindMaxAmp_i/Sub_ped_delay_5_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_5_2" BEL "FindMaxAmp_i/Sub_ped_delay_5_1"
        BEL "FindMaxAmp_i/Sub_ped_delay_5_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_7_7" BEL "FindMaxAmp_i/Sub_ped_delay_7_6"
        BEL "FindMaxAmp_i/Sub_ped_delay_7_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_7_4" BEL "FindMaxAmp_i/Sub_ped_delay_7_3"
        BEL "FindMaxAmp_i/Sub_ped_delay_7_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_7_1" BEL "FindMaxAmp_i/Sub_ped_delay_7_0"
        BEL "FindMaxAmp_i/Sub_ped_delay_3_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_3_6" BEL "FindMaxAmp_i/Sub_ped_delay_3_5"
        BEL "FindMaxAmp_i/Sub_ped_delay_3_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_3_3" BEL "FindMaxAmp_i/Sub_ped_delay_3_2"
        BEL "FindMaxAmp_i/Sub_ped_delay_3_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_3_0" BEL "FindMaxAmp_i/Sub_ped_delay_2_7"
        BEL "FindMaxAmp_i/Sub_ped_delay_2_6" BEL
        "FindMaxAmp_i/Sub_ped_delay_2_5" BEL "FindMaxAmp_i/Sub_ped_delay_2_4"
        BEL "FindMaxAmp_i/Sub_ped_delay_2_3" BEL
        "FindMaxAmp_i/Sub_ped_delay_2_2" BEL "FindMaxAmp_i/Sub_ped_delay_2_1"
        BEL "FindMaxAmp_i/Sub_ped_delay_2_0" BEL
        "FindMaxAmp_i/Sub_ped_delay_4_7" BEL "FindMaxAmp_i/Sub_ped_delay_4_6"
        BEL "FindMaxAmp_i/Sub_ped_delay_4_5" BEL
        "FindMaxAmp_i/Sub_ped_delay_4_4" BEL "FindMaxAmp_i/Sub_ped_delay_4_3"
        BEL "FindMaxAmp_i/Sub_ped_delay_4_2" BEL
        "FindMaxAmp_i/Sub_ped_delay_4_1" BEL "FindMaxAmp_i/Sub_ped_delay_4_0"
        BEL "FindMaxAmp_i/Sub_ped_delay_1_7" BEL
        "FindMaxAmp_i/Sub_ped_delay_1_6" BEL "FindMaxAmp_i/Sub_ped_delay_1_5"
        BEL "FindMaxAmp_i/Sub_ped_delay_1_4" BEL
        "FindMaxAmp_i/Sub_ped_delay_1_3" BEL "FindMaxAmp_i/Sub_ped_delay_1_2"
        BEL "FindMaxAmp_i/Sub_ped_delay_1_1" BEL
        "FindMaxAmp_i/Sub_ped_delay_1_0" BEL "FindMaxAmp_i/Sub_ped_15_7" BEL
        "FindMaxAmp_i/Sub_ped_15_6" BEL "FindMaxAmp_i/Sub_ped_15_5" BEL
        "FindMaxAmp_i/Sub_ped_15_4" BEL "FindMaxAmp_i/Sub_ped_15_3" BEL
        "FindMaxAmp_i/Sub_ped_15_2" BEL "FindMaxAmp_i/Sub_ped_15_1" BEL
        "FindMaxAmp_i/Sub_ped_15_0" BEL "FindMaxAmp_i/Sub_ped_14_7" BEL
        "FindMaxAmp_i/Sub_ped_14_6" BEL "FindMaxAmp_i/Sub_ped_14_5" BEL
        "FindMaxAmp_i/Sub_ped_14_4" BEL "FindMaxAmp_i/Sub_ped_14_3" BEL
        "FindMaxAmp_i/Sub_ped_14_2" BEL "FindMaxAmp_i/Sub_ped_14_1" BEL
        "FindMaxAmp_i/Sub_ped_14_0" BEL "FindMaxAmp_i/Sub_ped_12_7" BEL
        "FindMaxAmp_i/Sub_ped_12_6" BEL "FindMaxAmp_i/Sub_ped_12_5" BEL
        "FindMaxAmp_i/Sub_ped_12_4" BEL "FindMaxAmp_i/Sub_ped_12_3" BEL
        "FindMaxAmp_i/Sub_ped_12_2" BEL "FindMaxAmp_i/Sub_ped_12_1" BEL
        "FindMaxAmp_i/Sub_ped_12_0" BEL "FindMaxAmp_i/Sub_ped_13_7" BEL
        "FindMaxAmp_i/Sub_ped_13_6" BEL "FindMaxAmp_i/Sub_ped_13_5" BEL
        "FindMaxAmp_i/Sub_ped_13_4" BEL "FindMaxAmp_i/Sub_ped_13_3" BEL
        "FindMaxAmp_i/Sub_ped_13_2" BEL "FindMaxAmp_i/Sub_ped_13_1" BEL
        "FindMaxAmp_i/Sub_ped_13_0" BEL "FindMaxAmp_i/Sub_ped_11_7" BEL
        "FindMaxAmp_i/Sub_ped_11_6" BEL "FindMaxAmp_i/Sub_ped_11_5" BEL
        "FindMaxAmp_i/Sub_ped_11_4" BEL "FindMaxAmp_i/Sub_ped_11_3" BEL
        "FindMaxAmp_i/Sub_ped_11_2" BEL "FindMaxAmp_i/Sub_ped_11_1" BEL
        "FindMaxAmp_i/Sub_ped_11_0" BEL "FindMaxAmp_i/Sub_ped_10_7" BEL
        "FindMaxAmp_i/Sub_ped_10_6" BEL "FindMaxAmp_i/Sub_ped_10_5" BEL
        "FindMaxAmp_i/Sub_ped_10_4" BEL "FindMaxAmp_i/Sub_ped_10_3" BEL
        "FindMaxAmp_i/Sub_ped_10_2" BEL "FindMaxAmp_i/Sub_ped_10_1" BEL
        "FindMaxAmp_i/Sub_ped_10_0" BEL "FindMaxAmp_i/Sub_ped_9_7" BEL
        "FindMaxAmp_i/Sub_ped_9_6" BEL "FindMaxAmp_i/Sub_ped_9_5" BEL
        "FindMaxAmp_i/Sub_ped_9_4" BEL "FindMaxAmp_i/Sub_ped_9_3" BEL
        "FindMaxAmp_i/Sub_ped_9_2" BEL "FindMaxAmp_i/Sub_ped_9_1" BEL
        "FindMaxAmp_i/Sub_ped_9_0" BEL "FindMaxAmp_i/Sub_ped_8_7" BEL
        "FindMaxAmp_i/Sub_ped_8_6" BEL "FindMaxAmp_i/Sub_ped_8_5" BEL
        "FindMaxAmp_i/Sub_ped_8_4" BEL "FindMaxAmp_i/Sub_ped_8_3" BEL
        "FindMaxAmp_i/Sub_ped_8_2" BEL "FindMaxAmp_i/Sub_ped_8_1" BEL
        "FindMaxAmp_i/Sub_ped_8_0" BEL "FindMaxAmp_i/Sub_ped_6_7" BEL
        "FindMaxAmp_i/Sub_ped_6_6" BEL "FindMaxAmp_i/Sub_ped_6_5" BEL
        "FindMaxAmp_i/Sub_ped_6_4" BEL "FindMaxAmp_i/Sub_ped_6_3" BEL
        "FindMaxAmp_i/Sub_ped_6_2" BEL "FindMaxAmp_i/Sub_ped_6_1" BEL
        "FindMaxAmp_i/Sub_ped_6_0" BEL "FindMaxAmp_i/Sub_ped_5_7" BEL
        "FindMaxAmp_i/Sub_ped_5_6" BEL "FindMaxAmp_i/Sub_ped_5_5" BEL
        "FindMaxAmp_i/Sub_ped_5_4" BEL "FindMaxAmp_i/Sub_ped_5_3" BEL
        "FindMaxAmp_i/Sub_ped_5_2" BEL "FindMaxAmp_i/Sub_ped_5_1" BEL
        "FindMaxAmp_i/Sub_ped_5_0" BEL "FindMaxAmp_i/Sub_ped_7_7" BEL
        "FindMaxAmp_i/Sub_ped_7_6" BEL "FindMaxAmp_i/Sub_ped_7_5" BEL
        "FindMaxAmp_i/Sub_ped_7_4" BEL "FindMaxAmp_i/Sub_ped_7_3" BEL
        "FindMaxAmp_i/Sub_ped_7_2" BEL "FindMaxAmp_i/Sub_ped_7_1" BEL
        "FindMaxAmp_i/Sub_ped_7_0" BEL "FindMaxAmp_i/Sub_ped_4_7" BEL
        "FindMaxAmp_i/Sub_ped_4_6" BEL "FindMaxAmp_i/Sub_ped_4_5" BEL
        "FindMaxAmp_i/Sub_ped_4_4" BEL "FindMaxAmp_i/Sub_ped_4_3" BEL
        "FindMaxAmp_i/Sub_ped_4_2" BEL "FindMaxAmp_i/Sub_ped_4_1" BEL
        "FindMaxAmp_i/Sub_ped_4_0" BEL "FindMaxAmp_i/Sub_ped_3_7" BEL
        "FindMaxAmp_i/Sub_ped_3_6" BEL "FindMaxAmp_i/Sub_ped_3_5" BEL
        "FindMaxAmp_i/Sub_ped_3_4" BEL "FindMaxAmp_i/Sub_ped_3_3" BEL
        "FindMaxAmp_i/Sub_ped_3_2" BEL "FindMaxAmp_i/Sub_ped_3_1" BEL
        "FindMaxAmp_i/Sub_ped_3_0" BEL "FindMaxAmp_i/Sub_ped_2_7" BEL
        "FindMaxAmp_i/Sub_ped_2_6" BEL "FindMaxAmp_i/Sub_ped_2_5" BEL
        "FindMaxAmp_i/Sub_ped_2_4" BEL "FindMaxAmp_i/Sub_ped_2_3" BEL
        "FindMaxAmp_i/Sub_ped_2_2" BEL "FindMaxAmp_i/Sub_ped_2_1" BEL
        "FindMaxAmp_i/Sub_ped_2_0" BEL "FindMaxAmp_i/Sub_ped_0_7" BEL
        "FindMaxAmp_i/Sub_ped_0_6" BEL "FindMaxAmp_i/Sub_ped_0_5" BEL
        "FindMaxAmp_i/Sub_ped_0_4" BEL "FindMaxAmp_i/Sub_ped_0_3" BEL
        "FindMaxAmp_i/Sub_ped_0_2" BEL "FindMaxAmp_i/Sub_ped_0_1" BEL
        "FindMaxAmp_i/Sub_ped_0_0" BEL "FindMaxAmp_i/Sub_ped_1_7" BEL
        "FindMaxAmp_i/Sub_ped_1_6" BEL "FindMaxAmp_i/Sub_ped_1_5" BEL
        "FindMaxAmp_i/Sub_ped_1_4" BEL "FindMaxAmp_i/Sub_ped_1_3" BEL
        "FindMaxAmp_i/Sub_ped_1_2" BEL "FindMaxAmp_i/Sub_ped_1_1" BEL
        "FindMaxAmp_i/Sub_ped_1_0" BEL "FindMaxAmp_i/FastTrig_o" BEL
        "FindMaxAmp_i/Trig_o" BEL "FindMaxAmp_i/Thresh_i[0].Threshold/Trig"
        BEL "FindMaxAmp_i/Thresh_i[1].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[2].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[3].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[4].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[5].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[6].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[7].Threshold/Trig" BEL
        "FindMaxAmp_i/Thresh_i[8].Threshold/Trig" BEL
        "FindMaxAmp_i/Mshreg_DelayENDCycle_9/SRL16E" BEL
        "FindMaxAmp_i/DelayENDCycle_9" BEL
        "FindMaxAmp_i/Mshreg_DelayReset_5/SRL16E" BEL
        "FindMaxAmp_i/DelayReset_5";
TIMEGRP ADC_DCO_LVDS0 = BEL "adc_deser_i/LVDS_buf_ADC[0].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[0].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[1].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[2].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[3].SERDES/clkdiv_0" BEL
        "adc_deser_i/DCO<0>_BUFG";
TIMEGRP ADC_DCO_LVDS1 = BEL "adc_deser_i/LVDS_buf_ADC[4].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[4].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[5].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[6].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[7].SERDES/clkdiv_0" BEL
        "adc_deser_i/DCO<1>_BUFG";
TIMEGRP ADC_DCO_LVDS2 = BEL "adc_deser_i/LVDS_buf_ADC[8].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[8].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[9].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[10].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[11].SERDES/clkdiv_0" BEL
        "adc_deser_i/DCO<2>_BUFG";
TIMEGRP ADC_DCO_LVDS3 = BEL "adc_deser_i/LVDS_buf_ADC[12].SERDES/clkdiv_es"
        BEL "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/clkdiv_es" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataN_0" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataP_0" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/clkdiv_a" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataN_1" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataP_1" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_0" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/clkdiv_b" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_1" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataN_2" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataP_2" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_2" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_3" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataN_3" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataP_3" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_4" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_5" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_6" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/DataOut_7" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/clkdiv_1" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/IDDR_inst/FF0" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/IDDR_inst/FF1" BEL
        "adc_deser_i/LVDS_buf_ADC[12].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[13].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[14].SERDES/clkdiv_0" BEL
        "adc_deser_i/LVDS_buf_ADC[15].SERDES/clkdiv_0" BEL
        "adc_deser_i/DCO<3>_BUFG";
TS_Qclock = PERIOD TIMEGRP "Qclock" 25 ns HIGH 50% INPUT_JITTER 0.375 ns;
TS_MuxClock_in = PERIOD TIMEGRP "MuxClock_in" 25 ns HIGH 50% INPUT_JITTER
        0.375 ns;
TS_DCO0 = PERIOD TIMEGRP "ADC_DCO_LVDS0" 3.125 ns HIGH 50%;
TS_DCO1 = PERIOD TIMEGRP "ADC_DCO_LVDS1" 3.125 ns HIGH 50%;
TS_DCO2 = PERIOD TIMEGRP "ADC_DCO_LVDS2" 3.125 ns HIGH 50%;
TS_DCO3 = PERIOD TIMEGRP "ADC_DCO_LVDS3" 3.125 ns HIGH 50%;
TS_DLL_CLK0_BUF = PERIOD TIMEGRP "DLL_CLK0_BUF" TS_MuxClock_in HIGH 50%
        INPUT_JITTER 0.375 ns;
TS_DLL_CLK2X_BUF = PERIOD TIMEGRP "DLL_CLK2X_BUF" TS_MuxClock_in / 2 HIGH 50%
        INPUT_JITTER 0.375 ns;
TS_DLL_CLKDV_BUF = PERIOD TIMEGRP "DLL_CLKDV_BUF" TS_MuxClock_in * 2 HIGH 50%
        INPUT_JITTER 0.375 ns;
TS_DLL_CLKFX_BUF = PERIOD TIMEGRP "DLL_CLKFX_BUF" TS_MuxClock_in / 4 HIGH 50%
        INPUT_JITTER 0.375 ns;
SCHEMATIC END;

