//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 17 16:34:33 2018
//! **************************************************************************

SCHEMATIC START;
COMP "TriggerData<9>" LOCATE = SITE "C3" LEVEL 1;
COMP "RxD<3>" LOCATE = SITE "G7" LEVEL 1;
COMP "Led1" LOCATE = SITE "C19" LEVEL 1;
COMP "Led2" LOCATE = SITE "C18" LEVEL 1;
COMP "Led3" LOCATE = SITE "C17" LEVEL 1;
COMP "Led4" LOCATE = SITE "E18" LEVEL 1;
COMP "Led5" LOCATE = SITE "E17" LEVEL 1;
COMP "Test<0>" LOCATE = SITE "A14" LEVEL 1;
COMP "Test<1>" LOCATE = SITE "A13" LEVEL 1;
COMP "Test<2>" LOCATE = SITE "B13" LEVEL 1;
COMP "Test<3>" LOCATE = SITE "B12" LEVEL 1;
COMP "Test<4>" LOCATE = SITE "C14" LEVEL 1;
COMP "TxClk" LOCATE = SITE "C5" LEVEL 1;
COMP "Test<5>" LOCATE = SITE "C13" LEVEL 1;
COMP "Sw_FCTClk" LOCATE = SITE "J17" LEVEL 1;
COMP "Test<6>" LOCATE = SITE "C12" LEVEL 1;
COMP "Test<7>" LOCATE = SITE "D14" LEVEL 1;
COMP "FCT_40" LOCATE = SITE "A4" LEVEL 1;
PIN FCT_40_pin<0> = BEL "FCT_40" PINNAME PAD;
PIN "FCT_40_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Test<8>" LOCATE = SITE "D12" LEVEL 1;
COMP "TriggerData<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "Test<9>" LOCATE = SITE "E14" LEVEL 1;
COMP "TriggerData<11>" LOCATE = SITE "E1" LEVEL 1;
COMP "RxDv" LOCATE = SITE "B5" LEVEL 1;
COMP "TriggerData<20>" LOCATE = SITE "H2" LEVEL 1;
COMP "TriggerData<12>" LOCATE = SITE "J2" LEVEL 1;
COMP "ADC_CLK" LOCATE = SITE "G17" LEVEL 1;
COMP "TriggerData<21>" LOCATE = SITE "G1" LEVEL 1;
COMP "TriggerData<13>" LOCATE = SITE "J1" LEVEL 1;
COMP "TriggerData<30>" LOCATE = SITE "G2" LEVEL 1;
COMP "TriggerData<22>" LOCATE = SITE "M2" LEVEL 1;
COMP "TriggerData<14>" LOCATE = SITE "L3" LEVEL 1;
COMP "ADC_CSB" LOCATE = SITE "E16" LEVEL 1;
COMP "FCT_40_n" LOCATE = SITE "A3" LEVEL 1;
COMP "TriggerData<31>" LOCATE = SITE "J4" LEVEL 1;
COMP "TriggerData<23>" LOCATE = SITE "AE3" LEVEL 1;
COMP "TriggerData<15>" LOCATE = SITE "K2" LEVEL 1;
COMP "TriggerData<40>" LOCATE = SITE "AK2" LEVEL 1;
COMP "TriggerData<32>" LOCATE = SITE "C4" LEVEL 1;
COMP "TriggerData<24>" LOCATE = SITE "K1" LEVEL 1;
COMP "TriggerData<16>" LOCATE = SITE "G3" LEVEL 1;
COMP "TxEn" LOCATE = SITE "D5" LEVEL 1;
COMP "TriggerData<41>" LOCATE = SITE "AK3" LEVEL 1;
COMP "TriggerData<33>" LOCATE = SITE "D1" LEVEL 1;
COMP "TriggerData<25>" LOCATE = SITE "AD1" LEVEL 1;
COMP "TriggerData<17>" LOCATE = SITE "E4" LEVEL 1;
COMP "TriggerData<34>" LOCATE = SITE "D2" LEVEL 1;
COMP "TriggerData<42>" LOCATE = SITE "AH2" LEVEL 1;
COMP "TriggerData<50>" LOCATE = SITE "AE4" LEVEL 1;
COMP "TriggerData<26>" LOCATE = SITE "F3" LEVEL 1;
COMP "TriggerData<18>" LOCATE = SITE "F1" LEVEL 1;
COMP "FastTrigDes" LOCATE = SITE "B2" LEVEL 1;
COMP "TriggerData<35>" LOCATE = SITE "D4" LEVEL 1;
COMP "TriggerData<43>" LOCATE = SITE "AF1" LEVEL 1;
COMP "TriggerData<51>" LOCATE = SITE "AF3" LEVEL 1;
COMP "TriggerData<27>" LOCATE = SITE "E3" LEVEL 1;
COMP "TriggerData<19>" LOCATE = SITE "E2" LEVEL 1;
COMP "Col" LOCATE = SITE "A6" LEVEL 1;
COMP "TriggerData<36>" LOCATE = SITE "AJ4" LEVEL 1;
COMP "TriggerData<44>" LOCATE = SITE "AC2" LEVEL 1;
COMP "TriggerData<52>" LOCATE = SITE "AL4" LEVEL 1;
COMP "TriggerData<60>" LOCATE = SITE "AJ2" LEVEL 1;
COMP "ExtReset" LOCATE = SITE "AP4" LEVEL 1;
COMP "TriggerData<28>" LOCATE = SITE "H3" LEVEL 1;
COMP "TxD<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "TriggerData<37>" LOCATE = SITE "AG2" LEVEL 1;
COMP "TriggerData<45>" LOCATE = SITE "AJ1" LEVEL 1;
COMP "TriggerData<53>" LOCATE = SITE "AM1" LEVEL 1;
COMP "TriggerData<61>" LOCATE = SITE "AF4" LEVEL 1;
COMP "TriggerData<29>" LOCATE = SITE "H4" LEVEL 1;
COMP "TxD<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "TriggerData<38>" LOCATE = SITE "AG1" LEVEL 1;
COMP "TriggerData<46>" LOCATE = SITE "M1" LEVEL 1;
COMP "TriggerData<54>" LOCATE = SITE "AH3" LEVEL 1;
COMP "TriggerData<62>" LOCATE = SITE "AM2" LEVEL 1;
COMP "TrigDes" LOCATE = SITE "B3" LEVEL 1;
COMP "TxD<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "TriggerData<39>" LOCATE = SITE "AE1" LEVEL 1;
COMP "TriggerData<47>" LOCATE = SITE "AK1" LEVEL 1;
COMP "TriggerData<55>" LOCATE = SITE "AL3" LEVEL 1;
COMP "TriggerData<63>" LOCATE = SITE "AG3" LEVEL 1;
COMP "TxD<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "TriggerData<48>" LOCATE = SITE "AM3" LEVEL 1;
COMP "TriggerData<56>" LOCATE = SITE "AH4" LEVEL 1;
COMP "TriggerData<49>" LOCATE = SITE "AD2" LEVEL 1;
COMP "TriggerData<57>" LOCATE = SITE "AL1" LEVEL 1;
COMP "TriggerData<58>" LOCATE = SITE "AK4" LEVEL 1;
COMP "Crs" LOCATE = SITE "A5" LEVEL 1;
COMP "TriggerData<59>" LOCATE = SITE "AE2" LEVEL 1;
COMP "TriggerData<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "TriggerData<1>" LOCATE = SITE "AD4" LEVEL 1;
COMP "ADC_SCLK" LOCATE = SITE "G16" LEVEL 1;
COMP "TriggerData<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "ADC_SDIO" LOCATE = SITE "F16" LEVEL 1;
COMP "TriggerData<3>" LOCATE = SITE "K4" LEVEL 1;
COMP "TriggerData<4>" LOCATE = SITE "L4" LEVEL 1;
COMP "TriggerData<5>" LOCATE = SITE "M3" LEVEL 1;
COMP "Sw_Quartz" LOCATE = SITE "H17" LEVEL 1;
COMP "TriggerData<6>" LOCATE = SITE "AC3" LEVEL 1;
COMP "RxD<0>" LOCATE = SITE "E6" LEVEL 1;
COMP "Qclock" LOCATE = SITE "D17" LEVEL 1;
COMP "TriggerData<7>" LOCATE = SITE "AC4" LEVEL 1;
COMP "RxD<1>" LOCATE = SITE "F6" LEVEL 1;
COMP "PLL_in" LOCATE = SITE "D16" LEVEL 1;
COMP "TriggerData<8>" LOCATE = SITE "C2" LEVEL 1;
COMP "RxClk" LOCATE = SITE "B6" LEVEL 1;
COMP "RxD<2>" LOCATE = SITE "G6" LEVEL 1;
SCHEMATIC END;

