NET "Qclock" TNM_NET = "Qclock";
TIMESPEC TS_Qclock = PERIOD "Qclock" 25 ns HIGH 50 % INPUT_JITTER 375 ps;

NET "ADC_DCO[0]" TNM_NET = "ADC_DCO0";
TIMESPEC TS_DCO0 = PERIOD "ADC_DCO0" 6000 ps HIGH 50 %;

NET "ADC_DCO[1]" TNM_NET = "ADC_DCO1";
TIMESPEC TS_DCO1 = PERIOD "ADC_DCO1" 6000 ps HIGH 50 %;

NET "ADC_DCO[2]" TNM_NET = "ADC_DCO2";
TIMESPEC TS_DCO2 = PERIOD "ADC_DCO2" 6000 ps HIGH 50 %;

NET "ADC_DCO[3]" TNM_NET = "ADC_DCO3";
TIMESPEC TS_DCO3 = PERIOD "ADC_DCO3" 6000 ps HIGH 50 %;

NET "ADC_DCO[4]" TNM_NET = "ADC_DCO4";
TIMESPEC TS_DCO4 = PERIOD "ADC_DCO4" 6000 ps HIGH 50 %;

NET "ADC_DCO[5]" TNM_NET = "ADC_DCO5";
TIMESPEC TS_DCO5 = PERIOD "ADC_DCO5" 6000 ps HIGH 50 %;

NET "ADC_DCO[6]" TNM_NET = "ADC_DCO6";
TIMESPEC TS_DCO6 = PERIOD "ADC_DCO6" 6000 ps HIGH 50 %;

NET "ADC_DCO[7]" TNM_NET = "ADC_DCO7";
TIMESPEC TS_DCO7 = PERIOD "ADC_DCO7" 6000 ps HIGH 50 %;

NET "ADC_DCO[8]" TNM_NET = "ADC_DCO8";
TIMESPEC TS_DCO8 = PERIOD "ADC_DCO8" 6000 ps HIGH 50 %;

NET "ADC_DCO[9]" TNM_NET = "ADC_DCO9";
TIMESPEC TS_DCO9 = PERIOD "ADC_DCO9" 6000 ps HIGH 50 %;

NET "ADC_DCO[10]" TNM_NET = "ADC_DCO10";
TIMESPEC TS_DCO10 = PERIOD "ADC_DCO10" 6000 ps HIGH 50 %;

NET "ADC_DCO[11]" TNM_NET = "ADC_DCO11";
TIMESPEC TS_DCO11 = PERIOD "ADC_DCO11" 6000 ps HIGH 50 %;

NET "ADC_DCO[12]" TNM_NET = "ADC_DCO12";
TIMESPEC TS_DCO12 = PERIOD "ADC_DCO12" 6000 ps HIGH 50 %;

NET "ADC_DCO[13]" TNM_NET = "ADC_DCO13";
TIMESPEC TS_DCO13 = PERIOD "ADC_DCO13" 6000 ps HIGH 50 %;

NET "ADC_DCO[14]" TNM_NET = "ADC_DCO14";
TIMESPEC TS_DCO14 = PERIOD "ADC_DCO14" 6000 ps HIGH 50 %;

NET "ADC_DCO[15]" TNM_NET = "ADC_DCO15";
TIMESPEC TS_DCO15 = PERIOD "ADC_DCO15" 6000 ps HIGH 50 %;

# ADC Board 1
NET "ADC_DCO_LVDS[0]" LOC = AA25;
NET "ADC_DCO_LVDS_n[0]" LOC = AA26;
NET "ADC_DCO_LVDS[1]" LOC = AD34;
NET "ADC_DCO_LVDS_n[1]" LOC = AC34;
NET "ADC_FCO_LVDS[0]" LOC = AA25;
NET "ADC_FCO_LVDS_n[0]" LOC = AA26;
NET "ADC_FCO_LVDS[1]" LOC = AD34;
NET "ADC_FCO_LVDS_n[1]" LOC = AC34;

NET "ADCInDataLVDS[0]" LOC = W24;
NET "ADCInDataLVDS_n[0]" LOC = Y24;
NET "ADCInDataLVDS[1]" LOC = W25;
NET "ADCInDataLVDS_n[1]" LOC = Y26;
NET "ADCInDataLVDS[2]" LOC = AA23;
NET "ADCInDataLVDS_n[2]" LOC = AA24;
NET "ADCInDataLVDS[3]" LOC = AB22;
NET "ADCInDataLVDS_n[3]" LOC = AB23;
NET "ADCInDataLVDS[4]" LOC = AB25;
NET "ADCInDataLVDS_n[4]" LOC = AB26;
NET "ADCInDataLVDS[5]" LOC = AA28;
NET "ADCInDataLVDS_n[5]" LOC = AA29;
NET "ADCInDataLVDS[6]" LOC = AB30;
NET "ADCInDataLVDS_n[6]" LOC = AA30;
NET "ADCInDataLVDS[7]" LOC = AC28;
NET "ADCInDataLVDS_n[7]" LOC = AB28;

# ADC Board 2

NET "ADC_DCO_LVDS[2]" LOC = AF29;
NET "ADC_DCO_LVDS_n[2]" LOC = AF30;
NET "ADC_DCO_LVDS[3]" LOC = AG27;
NET "ADC_DCO_LVDS_n[3]" LOC = AG28;

NET "ADCInDataLVDS[8]" LOC = AC29;
NET "ADCInDataLVDS_n[8]" LOC = AC30;
NET "ADCInDataLVDS[9]" LOC = AC32;
NET "ADCInDataLVDS_n[9]" LOC = AC33;
NET "ADCInDataLVDS[10]" LOC = AC25;
NET "ADCInDataLVDS_n[10]" LOC = AD26;
NET "ADCInDataLVDS[11]" LOC = AD27;
NET "ADCInDataLVDS_n[11]" LOC = AC27;
NET "ADCInDataLVDS[12]" LOC = AD30;
NET "ADCInDataLVDS_n[12]" LOC = AD31;
NET "ADCInDataLVDS[13]" LOC = AE29;
NET "ADCInDataLVDS_n[13]" LOC = AD29;
NET "ADCInDataLVDS[14]" LOC = AE32;
NET "ADCInDataLVDS_n[14]" LOC = AD32;
NET "ADCInDataLVDS[15]" LOC = AE33;
NET "ADCInDataLVDS_n[15]" LOC = AE34;

# ADC Board 3

NET "ADC_DCO_LVDS[4]" LOC = AK31;
NET "ADC_DCO_LVDS_n[4]" LOC = AK32;
NET "ADC_DCO_LVDS[5]" LOC = AL24;
NET "ADC_DCO_LVDS_n[5]" LOC = AL25;

NET "ADCInDataLVDS[16]" LOC = AF26;
NET "ADCInDataLVDS_n[16]" LOC = AE26;
NET "ADCInDataLVDS[17]" LOC = AF28;
NET "ADCInDataLVDS_n[17]" LOC = AE27;
NET "ADCInDataLVDS[18]" LOC = AF31;
NET "ADCInDataLVDS_n[18]" LOC = AE31;
NET "ADCInDataLVDS[19]" LOC = AF33;
NET "ADCInDataLVDS_n[19]" LOC = AF34;
NET "ADCInDataLVDS[20]" LOC = AG30;
NET "ADCInDataLVDS_n[20]" LOC = AG31;
NET "ADCInDataLVDS[21]" LOC = AG32;
NET "ADCInDataLVDS_n[21]" LOC = AG33;
NET "ADCInDataLVDS[22]" LOC = AH32;
NET "ADCInDataLVDS_n[22]" LOC = AH33;
NET "ADCInDataLVDS[23]" LOC = AJ30;
NET "ADCInDataLVDS_n[23]" LOC = AH30;

# ADC Board 4

NET "ADC_DCO_LVDS[6]" LOC = AM21;
NET "ADC_DCO_LVDS_n[6]" LOC = AM22;
NET "ADC_DCO_LVDS[7]" LOC = AN28;
NET "ADC_DCO_LVDS_n[7]" LOC = AM28;

NET "ADCInDataLVDS[24]" LOC = AJ31;
NET "ADCInDataLVDS_n[24]" LOC = AJ32;
NET "ADCInDataLVDS[25]" LOC = AJ34;
NET "ADCInDataLVDS_n[25]" LOC = AH34;
NET "ADCInDataLVDS[26]" LOC = AK33;
NET "ADCInDataLVDS_n[26]" LOC = AK34;
NET "ADCInDataLVDS[27]" LOC = AL33;
NET "ADCInDataLVDS_n[27]" LOC = AL34;
NET "ADCInDataLVDS[28]" LOC = AM31;
NET "ADCInDataLVDS_n[28]" LOC = AL31;
NET "ADCInDataLVDS[29]" LOC = AM32;
NET "ADCInDataLVDS_n[29]" LOC = AM33;
NET "ADCInDataLVDS[30]" LOC = AN32;
NET "ADCInDataLVDS_n[30]" LOC = AN33;
NET "ADCInDataLVDS[31]" LOC = AP31;
NET "ADCInDataLVDS_n[31]" LOC = AP32;

# ADC Board 5

NET "ADC_DCO_LVDS[8]" LOC = AB17;
NET "ADC_DCO_LVDS_n[8]" LOC = AB16;
NET "ADC_DCO_LVDS[9]" LOC = AC19;
NET "ADC_DCO_LVDS_n[9]" LOC = AB18;

NET "ADCInDataLVDS[32]" LOC = AG23;
NET "ADCInDataLVDS_n[32]" LOC = AF24;
NET "ADCInDataLVDS[33]" LOC = AG25;
NET "ADCInDataLVDS_n[33]" LOC = AG26;
NET "ADCInDataLVDS[34]" LOC = AH23;
NET "ADCInDataLVDS_n[34]" LOC = AH24;
NET "ADCInDataLVDS[35]" LOC = AJ25;
NET "ADCInDataLVDS_n[35]" LOC = AH25;
NET "ADCInDataLVDS[36]" LOC = AJ27;
NET "ADCInDataLVDS_n[36]" LOC = AH27;
NET "ADCInDataLVDS[37]" LOC = AH28;
NET "ADCInDataLVDS_n[37]" LOC = AH29;
NET "ADCInDataLVDS[38]" LOC = AK22;
NET "ADCInDataLVDS_n[38]" LOC = AK23;
NET "ADCInDataLVDS[39]" LOC = AK24;
NET "ADCInDataLVDS_n[39]" LOC = AJ24;

# ADC Board 6

NET "ADC_DCO_LVDS[10]" LOC = AD17;
NET "ADC_DCO_LVDS_n[10]" LOC = AC17;
NET "ADC_DCO_LVDS[11]" LOC = AD16;
NET "ADC_DCO_LVDS_n[11]" LOC = AF15;

NET "ADCInDataLVDS[40]" LOC = AK27;
NET "ADCInDataLVDS_n[40]" LOC = AK28;
NET "ADCInDataLVDS[41]" LOC = AK29;
NET "ADCInDataLVDS_n[41]" LOC = AJ29;
NET "ADCInDataLVDS[42]" LOC = AL26;
NET "ADCInDataLVDS_n[42]" LOC = AK26;
NET "ADCInDataLVDS[43]" LOC = AL28;
NET "ADCInDataLVDS_n[43]" LOC = AL29;
NET "ADCInDataLVDS[44]" LOC = AM30;
NET "ADCInDataLVDS_n[44]" LOC = AL30;
NET "ADCInDataLVDS[45]" LOC = AL23;
NET "ADCInDataLVDS_n[45]" LOC = AM23;
NET "ADCInDataLVDS[46]" LOC = AM26;
NET "ADCInDataLVDS_n[46]" LOC = AM27;
NET "ADCInDataLVDS[47]" LOC = AN22;
NET "ADCInDataLVDS_n[47]" LOC = AN23;

# ADC Board 7

NET "ADC_DCO_LVDS[12]" LOC = AE17;
NET "ADC_DCO_LVDS_n[12]" LOC = AE16;
NET "ADC_DCO_LVDS[13]" LOC = AF18;
NET "ADC_DCO_LVDS_n[13]" LOC = AE18;

NET "ADCInDataLVDS[48]" LOC = AN25;
NET "ADCInDataLVDS_n[48]" LOC = AM25;
NET "ADCInDataLVDS[49]" LOC = AP21;
NET "ADCInDataLVDS_n[49]" LOC = AP22;
NET "ADCInDataLVDS[50]" LOC = AP24;
NET "ADCInDataLVDS_n[50]" LOC = AN24;
NET "ADCInDataLVDS[51]" LOC = AP25;
NET "ADCInDataLVDS_n[51]" LOC = AP26;
NET "ADCInDataLVDS[52]" LOC = AP27;
NET "ADCInDataLVDS_n[52]" LOC = AN27;
NET "ADCInDataLVDS[53]" LOC = AP29;
NET "ADCInDataLVDS_n[53]" LOC = AN29;
NET "ADCInDataLVDS[54]" LOC = AP30;
NET "ADCInDataLVDS_n[54]" LOC = AN30;
NET "ADCInDataLVDS[55]" LOC = AD19;
NET "ADCInDataLVDS_n[55]" LOC = AE19;

# ADC Board 8

NET "ADC_DCO_LVDS[14]" LOC = AG18;
NET "ADC_DCO_LVDS_n[14]" LOC = AG17;
NET "ADC_DCO_LVDS[15]" LOC = AG16;
NET "ADC_DCO_LVDS_n[15]" LOC = AF16;

NET "ADCInDataLVDS[56]" LOC = AD21;
NET "ADCInDataLVDS_n[56]" LOC = AD20;
NET "ADCInDataLVDS[57]" LOC = AE21;
NET "ADCInDataLVDS_n[57]" LOC = AF21;
NET "ADCInDataLVDS[58]" LOC = AG21;
NET "ADCInDataLVDS_n[58]" LOC = AF20;
NET "ADCInDataLVDS[59]" LOC = AG22;
NET "ADCInDataLVDS_n[59]" LOC = AH22;
NET "ADCInDataLVDS[60]" LOC = AG20;
NET "ADCInDataLVDS_n[60]" LOC = AH20;
NET "ADCInDataLVDS[61]" LOC = AF14;
NET "ADCInDataLVDS_n[61]" LOC = AG13;
NET "ADCInDataLVDS[62]" LOC = AG15;
NET "ADCInDataLVDS_n[62]" LOC = AH14;
NET "ADCInDataLVDS[63]" LOC = AJ15;
NET "ADCInDataLVDS_n[63]" LOC = AJ14;

# ADC Board 9

NET "ADC_DCO_LVDS[16]" LOC = L30;
NET "ADC_DCO_LVDS_n[16]" LOC = L31;
NET "ADC_DCO_LVDS[17]" LOC = R22;
NET "ADC_DCO_LVDS_n[17]" LOC = R23;


# ADC Board 10

NET "ADC_DCO_LVDS[18]" LOC = G30;
NET "ADC_DCO_LVDS_n[18]" LOC = G31;
NET "ADC_DCO_LVDS[19]" LOC = D34;
NET "ADC_DCO_LVDS_n[19]" LOC = E34;

# ADC Board 11

NET "ADC_DCO_LVDS[20]" LOC = F23;
NET "ADC_DCO_LVDS_n[20]" LOC = E23;
NET "ADC_DCO_LVDS[21]" LOC = B28;
NET "ADC_DCO_LVDS_n[21]" LOC = C28;

# ADC Board 12

NET "ADC_DCO_LVDS[22]" LOC = B27;
NET "ADC_DCO_LVDS_n[22]" LOC = C27;
NET "ADC_DCO_LVDS[23]" LOC = A31;
NET "ADC_DCO_LVDS_n[23]" LOC = B31;

# ADC Board 13

NET "ADC_DCO_LVDS[24]" LOC = M17;
NET "ADC_DCO_LVDS_n[24]" LOC = N17;
NET "ADC_DCO_LVDS[25]" LOC = M16;
NET "ADC_DCO_LVDS_n[25]" LOC = N15;

# ADC Board 14

NET "ADC_DCO_LVDS[26]" LOC = M18;
NET "ADC_DCO_LVDS_n[26]" LOC = L18;
NET "ADC_DCO_LVDS[27]" LOC = K19;
NET "ADC_DCO_LVDS_n[27]" LOC = J19;

# ADC Board 15

NET "ADC_DCO_LVDS[28]" LOC = K18;
NET "ADC_DCO_LVDS_n[28]" LOC = K17;
NET "ADC_DCO_LVDS[29]" LOC = H19;
NET "ADC_DCO_LVDS_n[29]" LOC = H18;

# ADC Board 16

NET "ADC_DCO_LVDS[30]" LOC = F18;
NET "ADC_DCO_LVDS_n[30]" LOC = G18;
NET "ADC_DCO_LVDS[31]" LOC = E19;
NET "ADC_DCO_LVDS_n[31]" LOC = D19;

# ADC signals from Prev. Pre-trigger board

NET "ADC_DCO_LVDSPrev[0]" LOC = AJ19;
NET "ADC_DCO_LVDSPrev_n[0]" LOC = AK19;
NET "ADC_DCO_LVDSPrev[1]" LOC = AK18;
NET "ADC_DCO_LVDSPrev_n[1]" LOC = AK17;
NET "ADC_DCO_LVDSPrev[2]" LOC = AJ17;
NET "ADC_DCO_LVDSPrev_n[2]" LOC = AH17;
NET "ADC_DCO_LVDSPrev[3]" LOC = AJ20;
NET "ADC_DCO_LVDSPrev_n[3]" LOC = AL20;
NET "ADC_DCO_LVDSPrev[4]" LOC = AM20;
NET "ADC_DCO_LVDSPrev_n[4]" LOC = AL19;
NET "ADC_DCO_LVDSPrev[5]" LOC = AN20;
NET "ADC_DCO_LVDSPrev_n[5]" LOC = AP20;
NET "ADC_DCO_LVDSPrev[6]" LOC = AL18;
NET "ADC_DCO_LVDSPrev_n[6]" LOC = AM18;
NET "ADC_DCO_LVDSPrev[7]" LOC = AM17;
NET "ADC_DCO_LVDSPrev_n[7]" LOC = AM16;
NET "ADC_DCO_LVDSPrev[8]" LOC = AL16;
NET "ADC_DCO_LVDSPrev_n[8]" LOC = AK16;
NET "ADC_DCO_LVDSPrev[9]" LOC = AJ22;
NET "ADC_DCO_LVDSPrev_n[9]" LOC = AJ21;
NET "ADC_DCO_LVDSPrev[10]" LOC = AK13;
NET "ADC_DCO_LVDSPrev_n[10]" LOC = AL13;
NET "ADC_DCO_LVDSPrev[11]" LOC = AL11;
NET "ADC_DCO_LVDSPrev_n[11]" LOC = AL10;

NET "ADCInDataLVDSPrev[0]" LOC = AC15;
NET "ADCInDataLVDSPrev_n[0]" LOC = AB15;
NET "ADCInDataLVDSPrev[1]" LOC = AM15;
NET "ADCInDataLVDSPrev_n[1]" LOC = AL15;
NET "ADCInDataLVDSPrev[2]" LOC = AP15;
NET "ADCInDataLVDSPrev_n[2]" LOC = AN15;
NET "ADCInDataLVDSPrev[3]" LOC = AL14;
NET "ADCInDataLVDSPrev_n[3]" LOC = AK14;
NET "ADCInDataLVDSPrev[4]" LOC = AN14;
NET "ADCInDataLVDSPrev_n[4]" LOC = AP14;
NET "ADCInDataLVDSPrev[5]" LOC = AE11;
NET "ADCInDataLVDSPrev_n[5]" LOC = AF11;
NET "ADCInDataLVDSPrev[6]" LOC = AH12;
NET "ADCInDataLVDSPrev_n[6]" LOC = AG11;
NET "ADCInDataLVDSPrev[7]" LOC = AJ12;
NET "ADCInDataLVDSPrev_n[7]" LOC = AK12;
NET "ADCInDataLVDSPrev[8]" LOC = AM13;
NET "ADCInDataLVDSPrev_n[8]" LOC = AN13;
NET "ADCInDataLVDSPrev[9]" LOC = AJ11;
NET "ADCInDataLVDSPrev_n[9]" LOC = AK11;
NET "ADCInDataLVDSPrev[10]" LOC = AM12;
NET "ADCInDataLVDSPrev_n[10]" LOC = AM11;
NET "ADCInDataLVDSPrev[11]" LOC = AN12;
NET "ADCInDataLVDSPrev_n[11]" LOC = AP12;

NET "ADCInDataLVDS[64]" LOC = P20;
NET "ADCInDataLVDS_n[64]" LOC = R19;
NET "ADCInDataLVDS[65]" LOC = P22;
NET "ADCInDataLVDS_n[65]" LOC = R21;
NET "ADCInDataLVDS[66]" LOC = P24;
NET "ADCInDataLVDS_n[66]" LOC = R24;
NET "ADCInDataLVDS[67]" LOC = N22;
NET "ADCInDataLVDS_n[67]" LOC = N23;
NET "ADCInDataLVDS[68]" LOC = N25;
NET "ADCInDataLVDS_n[68]" LOC = P26;
NET "ADCInDataLVDS[69]" LOC = N27;
NET "ADCInDataLVDS_n[69]" LOC = P27;
NET "ADCInDataLVDS[70]" LOC = N29;
NET "ADCInDataLVDS_n[70]" LOC = N30;
NET "ADCInDataLVDS[71]" LOC = M25;
NET "ADCInDataLVDS_n[71]" LOC = M26;
NET "ADCInDataLVDS[72]" LOC = M27;
NET "ADCInDataLVDS_n[72]" LOC = M28;
NET "ADCInDataLVDS[73]" LOC = M30;
NET "ADCInDataLVDS_n[73]" LOC = M31;
NET "ADCInDataLVDS[74]" LOC = M32;
NET "ADCInDataLVDS_n[74]" LOC = M33;
NET "ADCInDataLVDS[75]" LOC = L25;
NET "ADCInDataLVDS_n[75]" LOC = L26;
NET "ADCInDataLVDS[76]" LOC = L28;
NET "ADCInDataLVDS_n[76]" LOC = L29;
NET "ADCInDataLVDS[77]" LOC = L33;
NET "ADCInDataLVDS_n[77]" LOC = L34;
NET "ADCInDataLVDS[78]" LOC = K24;
NET "ADCInDataLVDS_n[78]" LOC = J24;
NET "ADCInDataLVDS[79]" LOC = J25;
NET "ADCInDataLVDS_n[79]" LOC = K26;
NET "ADCInDataLVDS[80]" LOC = J27;
NET "ADCInDataLVDS_n[80]" LOC = K27;
NET "ADCInDataLVDS[81]" LOC = K28;
NET "ADCInDataLVDS_n[81]" LOC = K29;
NET "ADCInDataLVDS[82]" LOC = J29;
NET "ADCInDataLVDS_n[82]" LOC = J30;
NET "ADCInDataLVDS[83]" LOC = J31;
NET "ADCInDataLVDS_n[83]" LOC = K31;
NET "ADCInDataLVDS[84]" LOC = K32;
NET "ADCInDataLVDS_n[84]" LOC = K33;
NET "ADCInDataLVDS[85]" LOC = J34;
NET "ADCInDataLVDS_n[85]" LOC = K34;
NET "ADCInDataLVDS[86]" LOC = H32;
NET "ADCInDataLVDS_n[86]" LOC = J32;
NET "ADCInDataLVDS[87]" LOC = G23;
NET "ADCInDataLVDS_n[87]" LOC = H24;
NET "ADCInDataLVDS[88]" LOC = G25;
NET "ADCInDataLVDS_n[88]" LOC = H25;
NET "ADCInDataLVDS[89]" LOC = H27;
NET "ADCInDataLVDS_n[89]" LOC = H28;
NET "ADCInDataLVDS[90]" LOC = H29;
NET "ADCInDataLVDS_n[90]" LOC = H30;
NET "ADCInDataLVDS[91]" LOC = H33;
NET "ADCInDataLVDS_n[91]" LOC = H34;
NET "ADCInDataLVDS[92]" LOC = G27;
NET "ADCInDataLVDS_n[92]" LOC = G28;
NET "ADCInDataLVDS[93]" LOC = G32;
NET "ADCInDataLVDS_n[93]" LOC = G33;
NET "ADCInDataLVDS[94]" LOC = F24;
NET "ADCInDataLVDS_n[94]" LOC = E24;
NET "ADCInDataLVDS[95]" LOC = F25;
NET "ADCInDataLVDS_n[95]" LOC = F26;
NET "ADCInDataLVDS[96]" LOC = E28;
NET "ADCInDataLVDS_n[96]" LOC = F28;
NET "ADCInDataLVDS[97]" LOC = F29;
NET "ADCInDataLVDS_n[97]" LOC = F30;
NET "ADCInDataLVDS[98]" LOC = E31;
NET "ADCInDataLVDS_n[98]" LOC = F31;
NET "ADCInDataLVDS[99]" LOC = F33;
NET "ADCInDataLVDS_n[99]" LOC = F34;
NET "ADCInDataLVDS[100]" LOC = E32;
NET "ADCInDataLVDS_n[100]" LOC = E33;
NET "ADCInDataLVDS[101]" LOC = D26;
NET "ADCInDataLVDS_n[101]" LOC = E26;
NET "ADCInDataLVDS[102]" LOC = D27;
NET "ADCInDataLVDS_n[102]" LOC = E27;
NET "ADCInDataLVDS[103]" LOC = D29;
NET "ADCInDataLVDS_n[103]" LOC = E29;
NET "ADCInDataLVDS[104]" LOC = D30;
NET "ADCInDataLVDS_n[104]" LOC = D31;
NET "ADCInDataLVDS[105]" LOC = C32;
NET "ADCInDataLVDS_n[105]" LOC = D32;
NET "ADCInDataLVDS[106]" LOC = C29;
NET "ADCInDataLVDS_n[106]" LOC = C30;
NET "ADCInDataLVDS[107]" LOC = B32;
NET "ADCInDataLVDS_n[107]" LOC = B33;
NET "ADCInDataLVDS[108]" LOC = A30;
NET "ADCInDataLVDS_n[108]" LOC = B30;
NET "ADCInDataLVDS[109]" LOC = A28;
NET "ADCInDataLVDS_n[109]" LOC = A29;
NET "ADCInDataLVDS[110]" LOC = D24;
NET "ADCInDataLVDS_n[110]" LOC = D25;
NET "ADCInDataLVDS[111]" LOC = B25;
NET "ADCInDataLVDS_n[111]" LOC = C25;
NET "ADCInDataLVDS[112]" LOC = A26;
NET "ADCInDataLVDS_n[112]" LOC = B26;
NET "ADCInDataLVDS[113]" LOC = A24;
NET "ADCInDataLVDS_n[113]" LOC = A25;
NET "ADCInDataLVDS[114]" LOC = C23;
NET "ADCInDataLVDS_n[114]" LOC = C24;
NET "ADCInDataLVDS[115]" LOC = B23;
NET "ADCInDataLVDS_n[115]" LOC = A23;
NET "ADCInDataLVDS[116]" LOC = E22;
NET "ADCInDataLVDS_n[116]" LOC = D22;
NET "ADCInDataLVDS[117]" LOC = C22;
NET "ADCInDataLVDS_n[117]" LOC = B22;
NET "ADCInDataLVDS[118]" LOC = H22;
NET "ADCInDataLVDS_n[118]" LOC = J21;
NET "ADCInDataLVDS[119]" LOC = G21;
NET "ADCInDataLVDS_n[119]" LOC = H20;
NET "ADCInDataLVDS[120]" LOC = F21;
NET "ADCInDataLVDS_n[120]" LOC = F20;
NET "ADCInDataLVDS[121]" LOC = E21;
NET "ADCInDataLVDS_n[121]" LOC = D21;
NET "ADCInDataLVDS[122]" LOC = B21;
NET "ADCInDataLVDS_n[122]" LOC = A21;
NET "ADCInDataLVDS[123]" LOC = D20;
NET "ADCInDataLVDS_n[123]" LOC = C20;
NET "ADCInDataLVDS[124]" LOC = B20;
NET "ADCInDataLVDS_n[124]" LOC = A20;
NET "ADCInDataLVDS[125]" LOC = N20;
NET "ADCInDataLVDS_n[125]" LOC = M20;
NET "ADCInDataLVDS[126]" LOC = N19;
NET "ADCInDataLVDS_n[126]" LOC = N18;
NET "ADCInDataLVDS[127]" LOC = J20;
NET "ADCInDataLVDS_n[127]" LOC = L19;

NET "ADCInDataLVDS[0]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[1]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[2]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[3]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[4]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[5]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[6]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[7]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[8]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[9]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[10]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[11]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[12]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[13]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[14]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[15]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[16]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[17]" DIFF_TERM = "TRUE";
NET "Led1" LOC = C19;
NET "Led2" LOC = C18;
NET "Led3" LOC = C17;
NET "Led4" LOC = E18;
NET "Led5" LOC = E17;
NET "Qclock" LOC = D17;
NET "Sw_FCTClk" LOC = J17;
NET "Sw_Quartz" LOC = H17;
