NET "ADCInDataLVDS[0]" IOSTANDARD = LVDS;
NET <p_ADCInDataLVDS[0]> LOC=<pin_location> | IOSTANDARD=<LVDS> | IOBDELAY=<NONE> | DIFF_TERM=<TRUE>;
NET <n_ADCInDataLVDS[0]> LOC=<pin_location> | IOSTANDARD=<LVDS> | IOBDELAY=<NONE> | DIFF_TERM=<TRUE>;

NET "ADCInDataLVDS[0]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[1]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[2]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[3]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[4]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[5]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[6]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[7]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[8]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[9]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[10]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[11]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[12]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[13]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[14]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[15]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[16]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[17]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[0]" LOC = W24;
NET "ADCInDataLVDS[1]" LOC = W25;
NET "ADCInDataLVDS[2]" LOC = AA23;
NET "ADCInDataLVDS[3]" LOC = AB22;
NET "ADC_DCO[0]" LOC = AA25;
NET "ADC_DCO[1]" LOC = AD34;
NET "ADC_DCO[2]" LOC = AF29;
NET "ADC_DCO[3]" LOC = AG27;
NET "ADC_DCO[4]" LOC = AL24;
NET "ADC_DCO[5]" LOC = AK31;
NET "ADC_DCO[6]" LOC = AM21;
NET "ADC_DCO[7]" LOC = AN28;
NET "ADC_DCO[8]" LOC = AB17;
NET "ADC_DCO[9]" LOC = AC19;
