NET "OSC_50MHZ" TNM_NET = "OSC_50MHZ";
TIMESPEC TS_OSC_50MHZ = PERIOD "OSC_50MHZ" 20 ns HIGH 50 % INPUT_JITTER 300 ps;

NET "ADC_DCO[1]" TNM_NET = "ADC_DCO1";
TIMESPEC TS_DCO1 = PERIOD "ADC_DCO1" 6000 ps HIGH 50 %;

NET "ADC_DCO[2]" TNM_NET = "ADC_DCO2";
TIMESPEC TS_DCO2 = PERIOD "ADC_DCO2" 6000 ps HIGH 50 %;

NET "ADC_DCO[3]" TNM_NET = "ADC_DCO3";
TIMESPEC TS_DCO3 = PERIOD "ADC_DCO3" 6000 ps HIGH 50 %;

NET "ADC_DCO[4]" TNM_NET = "ADC_DCO4";
TIMESPEC TS_DCO4 = PERIOD "ADC_DCO4" 6000 ps HIGH 50 %;

# ADC 1
NET "ADC_DCO_LVDS[0]" LOC = AA25;
NET "ADC_DCO_LVDS_n[0]" LOC = AA26;
NET "ADC_DCO_LVDS[1]" LOC = AD34;
NET "ADC_DCO_LVDS_n[1]" LOC = AC34;
NET "ADC_FCO_LVDS[0]" LOC = AA25;
NET "ADC_FCO_LVDS_n[0]" LOC = AA26;
NET "ADC_FCO_LVDS[1]" LOC = AD34;
NET "ADC_FCO_LVDS_n[1]" LOC = AC34;

NET "ADCInDataLVDS[0]" LOC = W24;
NET "ADCInDataLVDS_n[0]" LOC = Y24;
NET "ADCInDataLVDS[1]" LOC = W25;
NET "ADCInDataLVDS_n[1]" LOC = Y26;
NET "ADCInDataLVDS[2]" LOC = AA23;
NET "ADCInDataLVDS_n[2]" LOC = AA24;
NET "ADCInDataLVDS[3]" LOC = AB22;
NET "ADCInDataLVDS_n[3]" LOC = AB23;

NET "ADC_DCO_LVDS[2]" LOC = AF29;
NET "ADC_DCO_LVDS_n[2]" LOC = AF30;
NET "ADC_DCO_LVDS[3]" LOC = AG27;
NET "ADC_DCO_LVDS_n[3]" LOC = AG28;
NET "ADC_DCO_LVDS[4]" LOC = AK31;
NET "ADC_DCO_LVDS_n[4]" LOC = AK32;
NET "ADC_DCO_LVDS[5]" LOC = AL24;
NET "ADC_DCO_LVDS_n[5]" LOC = AL25;
NET "ADC_DCO_LVDS[6]" LOC = AM21;
NET "ADC_DCO_LVDS_n[6]" LOC = AM22;
NET "ADC_DCO_LVDS[7]" LOC = AN28;
NET "ADC_DCO_LVDS_n[7]" LOC = AM28;
NET "ADC_DCO_LVDS[8]" LOC = AB17;
NET "ADC_DCO_LVDS[9]" LOC = AC19;

NET "ADCInDataLVDS[0]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[1]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[2]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[3]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[4]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[5]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[6]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[7]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[8]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[9]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[10]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[11]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[12]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[13]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[14]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[15]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[16]" DIFF_TERM = "TRUE";
NET "ADCInDataLVDS[17]" DIFF_TERM = "TRUE";