

NET "SW0" LOC = G15;
NET "SW0" IOSTANDARD = LVCMOS33;
NET "SW1" LOC = P15;
NET "SW1" IOSTANDARD = LVCMOS33;
NET "LD0" LOC = M14;
NET "LD0" IOSTANDARD = LVCMOS33;
NET "LD1" LOC = M15;
NET "LD1" IOSTANDARD = LVCMOS33;

NET "clock" TNM_NET = "clock"; #125 Mhz
TIMESPEC TS_clock = PERIOD "clock" 10 ns HIGH 50 % INPUT_JITTER 200 ps; 
NET "clock" LOC = K17;
NET "clock" IOSTANDARD = LVCMOS33;


