#NET "ADCOutDataLVDSNext[0]" LOC = AL14;
#NET "ADCOutDataLVDSNext_n[0]" LOC = AK14;
#NET "ADCOutDataLVDSNext[0]" DIFF_TERM = "TRUE" | IOSTANDARD = LVDS_25;
#NET "ADCOutDataLVDSNext[1]" LOC = AK13;
#NET "ADCOutDataLVDSNext_n[1]" LOC = AL13;
#NET "ADCOutDataLVDSNext[1]" DIFF_TERM = "TRUE" | IOSTANDARD = LVDS_25;
#NET "ADCOutDataLVDSNext[2]" LOC = AJ12;
#NET "ADCOutDataLVDSNext_n[2]" LOC = AK12;
#NET "ADCOutDataLVDSNext[2]" DIFF_TERM = "TRUE" | IOSTANDARD = LVDS_25;
#NET "ADCOutDataLVDSNext[3]" LOC = AL11;
#NET "ADCOutDataLVDSNext_n[3]" LOC = AL10;
